<div style="float: left; width: 90px; height: 80px">
  <img border="0" src="<%= default_avatar_url %>" width="80" height="80" alt="Author Photo"/>
</div>
<div style="font-size: 14px;">
  <strong>adam neary | founder & ceo</strong> <br/>
  <span style="color: #999"><em>adam@activecell.com</em></span> <br/>
  <span style="color: #999"><em>www.activecell.com</em></span>
</div>
