#forgot .input-wrapper label {
  font-size: 9px;
  top: 13px;
  left: 2px;
}

#signin .input-wrapper label {
  font-size: 9px;
  top: 13px;
  left: 2px;
}

ul.plan-list {
  width: 335px;
}

body#scenarios .pane .list ul.plan-list li {
  margin-bottom: 2px;
}