body#scenarios .customer-cacs .unit input, #add-employee-type-modal table input {
  height: 9px;
  font-size: 9px;
  line-height: 9px;
}

body#scenarios .cust-delivery td.distribution input {
  height: 11px;
  font-size: 11px;
  line-height: 11px;
}

select.expand {
  width: auto;
}