---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="TnOWRY33UgMFzOi0b3YuxgJ6OsJnvssv8mKuvkyAc",
        oauth_signature="IhWeZL9aZCKH2kdRIVfNGbBVCxk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347358365", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q0134735626509531cd321</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Tue, 11 Sep 2012 10:12:57 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/preferences/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="yYt0aWt1uCwq57l739qyZf8CFhzmWExsyA2HG3ePOcI",
        oauth_signature="Nm2rFWtdSVIqnb5sL99AUBt5d90%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347358377", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboCompanyPreferences
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:Preference><Name>TaxAccountId</Name><Value>135</Value></qbo:Preference><qbo:Preference><Name>TaxPercent</Name><Value>8.875%</Value></qbo:Preference><qbo:Preference><Name>TaxEnabled</Name><Value>true</Value></qbo:Preference><qbo:Preference><Name>NewCustomersAreTaxable</Name><Value>true</Value></qbo:Preference><qbo:Preference><Name>DefaultDiscountAccountId</Name><Value>163</Value></qbo:Preference><qbo:Preference><Name>DiscountEnabled</Name><Value>false</Value></qbo:Preference><qbo:Preference><Name>DefaultCustomerMessage</Name></qbo:Prefere[...]
