---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="1panqGlYGEGcoUfwIHNqudui7cBGv5Sb8FOnU8Q70",
        oauth_signature="AijXx%2FtorVHCmPofc1PtNLm7zFs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296512", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:01:53 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/customers/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="Wq9Hu0aFL7jybilp1bVv9vSwdz2gBioTcXIAi1vFKE",
        oauth_signature="4OkR7xsgzAPbWGExr%2B%2BFN2tK1xI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296513", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Customers"><Customer><Id idDomain="QBO">245</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:30-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:30-07:00</LastUpdatedTime></MetaData><Name>Analytix
        Solutions</Name><WebSite/><Email/><CustomField xsi:type="BooleanTypeCustomField"><DefinitionId>Bill
        With Parent</DefinitionId><Value>false</Value></CustomField><CustomField xsi:type="StringTypeCustomField"><DefinitionId>Preferred
        Delivery Method</DefinitionId><Value>PRINT</Value></CustomField><ShowAs>Analytix
        Solutions</ShowAs><SalesTaxCodeId idDomain="QBO">1</SalesTaxCodeId><SalesTaxCodeName>IS_TAXABLE</SalesTaxCodeName><OpenBalance><Amount>0</Amount></OpenBalance></Customer><Customer><Id
        idDomain="QBO">235</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:30-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:30-07:00</LastUpdatedTime></MetaData><Name>Arthur
        Carroll - Armadillo</Name><WebSite/><Email/><Notes><Content>Per Graham 9/6/11:&#xD;

        signed up for a month on Intuit &amp; then purchased annual plan so migrated
        to AppCenter.</Content></Notes><CustomField xsi:type="BooleanTypeCustomField"><DefinitionId>Bill
        With Parent</DefinitionId><Value>false</Value></CustomField><CustomField xsi:type="StringTypeCustomField"><DefinitionId>Preferred
        Delivery Method</DefinitionId><Value>PRINT</Value></CustomField><ShowAs>Arthur
        Carroll - Armadillo</ShowAs><OpenBalance><Amount>0</Amount></OpenBalance></Customer><Customer><Id
        idDomain="QBO">205</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:29-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:29-07:00</LastUpdatedTime></MetaData><Name>Bart
        Schnell</Name><WebSite/><Email/><Notes><Content>Per Graham 9/6/11: confirmed
        lost bart</Content></Notes><CustomField xsi:type="BooleanTypeCustomField"><DefinitionId>Bill
        With Parent</DefinitionId><Value>false</Value></CustomField><CustomField xsi:type="StringTypeCustomField"><DefinitionId>Preferred
        Delivery Method</DefinitionId><Value>PRINT</Value></CustomField><ShowAs>Bart
        Schnell</ShowAs><PaymentMethodId idDomain="QBO">17</PaymentMethodId><OpenBalance><Amount>0</Amount></OpenBalance></Customer><Customer><Id
        idDomain="QBO">300</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:32-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:32-07:00</LastUpdatedTime></MetaData><Name>CDL
        Companies</Name><WebSite/><Email><Address>erichaney@cdlcollege.com</Address></Email><GivenName>Eric</GivenName><FamilyName>Haney</FamilyName><DBAName>CDL
        Companies</DBAName><CustomField xsi:type="BooleanTypeCustomField"><DefinitionId>Bill
        With Parent</DefinitionId><Value>false</Value></CustomField><CustomField xsi:type="StringTypeCustomField"><DefinitionId>Preferred
        Delivery Method</DefinitionId><Value>PRINT</Value></CustomField><ShowAs>CDL
        Companies</ShowAs><SalesTaxCodeId idDomain="QBO">1</SalesTaxCodeId><SalesTaxCodeName>IS_TAXABLE</SalesTaxCodeName><PaymentMethodId
        idDomain="QBO">18</PaymentMethodId[...]
