---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="IdBo0h6JbtfuwfAz04x9s74MSgRrh9H5yIbCpVIQ38",
        oauth_signature="yqiqCL6JHb3Hl6kqW7WJVI4B5RM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296431", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:00:32 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/items/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="TgHX0ZWYfJF6Sr4JSY2GvZ6vfLekfFJ8fOoIDH3b2s",
        oauth_signature="Cxw5oQ9hxn1%2BWgMXBr1SrG7VC7U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296432", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Items"><Item><Id idDomain="QBO">2</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:23-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:23-07:00</LastUpdatedTime></MetaData><Name>Basecamp
        Personal</Name><Taxable>false</Taxable><UnitPrice><Amount>12</Amount></UnitPrice><IncomeAccountRef><AccountId
        idDomain="QBO">75</AccountId></IncomeAccountRef></Item><Item><Id idDomain="QBO">13</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:24-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:24-07:00</LastUpdatedTime></MetaData><Name>Discount</Name><Taxable>true</Taxable><UnitPrice><Amount>0</Amount></UnitPrice><IncomeAccountRef><AccountId
        idDomain="QBO">54</AccountId></IncomeAccountRef></Item><Item><Id idDomain="QBO">8</Id><SyncToken>0</SyncToken><MetaDa[...]
