---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="MklJnGzLO4ac1CJ3PI6iNMjmMxAYaVGdUl2oznsrFbA",
        oauth_signature="h9tYtHe68AIDY9rQdHuXZS5TLKo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1343772000", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q01348156481656960c8fc</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Tue, 31 Jul 2012 22:00:00 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/accounts/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="qCYrpMamga1ozIyHyLlabZhZoP5BD53csdQcMiZgxzk",
        oauth_signature="k9VEoc13YDjObL1uqpKft4Sm%2Bj8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1343772000", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Accounts"><Account><Id idDomain="QBO">130</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:22-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:22-07:00</LastUpdatedTime></MetaData><Name>1005
        Amex - Adam</Name><AccountParentId idDomain="QBO">118</AccountParentId><Subtype>CreditCard</Subtype><AcctNum>23102</AcctNum><CurrentBalance>196.43</CurrentBalance></Account><Account><Id
        idDomain="QBO">131</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:22-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:22-07:00</LastUpdatedTime></MetaData><Name>1013
        Amex - Graham</Name><AccountParentId idDomain="QBO">118</AccountParentId><Subtype>CreditCard</Subtype><AcctNum>23103</AcctNum><CurrentBalance>242.97</CurrentBalance></Account><Account><Id
        idDomain="QBO">136</Id><SyncToken>0</SyncToken><MetaD[...]
