---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="dNaazb0drY3jrsMK0EztNYC0ChEOVA9ymYPaZgNac",
        oauth_signature="Az5M7B2UXUCOgMrSGCcjjtdXPtI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296535", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:02:16 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/credit-card-credits/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="O8aVST6yswPfnvXiSwFabeyle30KGFhjAlLFP29va7k",
        oauth_signature="YeD%2BjO3GwpNyBvcFd5cvMfZRSSw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296536", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="CreditCardCredits"><CreditCardCredit><Id idDomain="QBO">1672</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-08T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-08T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-08-08:00</TxnDate><Msg>4227493335  210-581-0410371556605061003</Msg><CCAccountId
        idDomain="QBO">141</CCAccountId><EntityId idDomain="QBO">230</EntityId><EntityType>Vendor</EntityType><TotalAmt>1514.01</TotalAmt></Header><Line><Id
        idDomain="QBO">1</Id><Amount>1514.01</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">156</AccountId></Line></CreditCardCredit><CreditCardCredit><Id
        idDomain="QBO">1628</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-08T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-08T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-08-08:00</TxnDate><CCAccountId
        idDomain="QBO">118</CCAccountId><EntityId idDomain="QBO">144</EntityId><EntityType>Vendor</EntityType><TotalAmt>739.08</TotalAmt></Header><Line><Id
        idDomain="QBO">1</Id><Desc>AMEX EPAYMENT    ACH PMT</Desc><Amount>739.08</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">94</AccountId></Line></CreditCardCredit><CreditCardCredit><Id
        idDomain="QBO">1665</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-02-29T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-02-29T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-02-29-08:00</TxnDate><CCAccountId
        idDomain="QBO">141</CCAccountId><EntityId idDomain="QBO[...]
