---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="qOci7Pqy5TPRyT5GhmlA0XifaDliVCKlFd7BAiuxWQ",
        oauth_signature="tlcVYszr7KAVNE%2BWuCVkqEy7AdE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347365124", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q0134735626509531cd321</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Tue, 11 Sep 2012 12:05:26 GMT
- request:
    method: get
    uri: https://qbo.intuit.com/qbo36/manage/entitlements/v2/497421705?PageNum=1&ResultsPerPage=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="Okq9JEazPxUL6vMz9x5Cux2zwulJiuDboonHQuW9HY",
        oauth_signature="eL7GfAx%2F%2FZp%2FUkGd%2FtY1NwfRXCA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347365126", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><EntitlementsResponse><QboCompany>true</QboCompany><PlanName>QBWEBVAR1MO</PlanName><MaxUsers>3</MaxUsers><CurrentUsers>2</CurrentUsers><DaysRemainingTrial>0</DaysRemainingTrial><Entitlement
        id="7"><name>PayPal</name><term>Off</term></Entitlement><Entitlement id="8"><name>Merchant
        Service</name><term>Off</term></Entitlement><Entitlement id="50"><name>Adjusted
        Trial Balance Report</name><term>Off</term></Entitlement><Entitlement id="51"><name>Adjusting
        Journal Entries</name><term>Off</term></Entitlement><Entitlement id="52"><name>Accountant
        Menu</name><term>Off</term></Entitlement><Entitlement id="53"><name>Reconciliation
        Troubleshooting</name><term>Off</term></Entitlement><Entitlement id="54"><name>Reclassify
 [...]
