---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="iFJacva6nOA6s0jdZZZGLO8vYwOuLv7cgnEIPsi0",
        oauth_signature="iWaNTsg%2BAe%2FVzEdcKcSI2cEYpXI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296391", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 16:59:53 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/payment-methods/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="D5AmaRq5MxMtUSr0ileFRlATii8Fvn4zD6dEmyc0",
        oauth_signature="RELT3VIviN5rcmNYpSYSzBh%2Fys0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296393", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="PaymentMethods"><PaymentMethod><Id idDomain="QBO">10</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:19-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:19-07:00</LastUpdatedTime></MetaData><Name>American
        Express</Name><Type>CREDIT_CARD</Type></PaymentMethod><PaymentMethod><Id idDomain="QBO">18</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:19-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:19-07:00</LastUpdatedTime></MetaData><Name>Braintree</Name><Type>CREDIT_CARD</Type></PaymentMethod><PaymentMethod><Id
        idDomain="QBO">8</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:19-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:19-07:00</LastUpdatedTime></MetaData><Name[...]
