---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="9InORyI0q2dCLh3Y0rPBxnuktxwAeqwTzNlbr7GwI",
        oauth_signature="OmzpyIsj%2FqdBC05k8%2BnSI%2F1YmDc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296514", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:01:56 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/checks/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="XhcZpU9w5sL4Ta5EpsdsCvwDdkJ8HKBGbhXDaYANY",
        oauth_signature="MHUdWf65HTvhZc54SSEBbA2hzTE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296516", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Checks"><Check><Id idDomain="QBO">1737</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-05T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-05T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-05-08:00</TxnDate><Msg>MERCHANT
        BNKCD   DISCOUNT</Msg><BankAccountId idDomain="QBO">94</BankAccountId><EntityId
        idDomain="QBO">227</EntityId><EntityType>Vendor</EntityType><TotalAmt>12.02</TotalAmt></Header><Line><Id
        idDomain="QBO">1</Id><Amount>12.02</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">144</AccountId></Line></Check><Check><Id idDomain="QBO">1760</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-05T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-05T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-05-08:00</TxnDate><Msg>MERCHANT
        BNKCD   FEE</Msg><BankAccountId idDomain="QBO">94</BankAccountId><EntityId
        idDomain="QBO">197</EntityId><EntityType>Vendor</EntityType><TotalAmt>117.98</TotalAmt></Header><Line><Id
        idDomain="QBO">1</Id><Amount>117.98</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">144</AccountId></Line></Check><Check><Id idDomain="QBO">1738</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-05T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-05T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-05-08:00</TxnDate><Msg>VISA
        DDA PUR 469216     AMAZON WEB SERVICES         AWS AMAZON CO * WA</Msg><BankAccountId
        idDomain="QBO">94</BankAccountId><EntityId idDomain="QBO">241</EntityId><EntityType>Vendor</EntityType><PayeeAddr><Line1>Amazon
        Web Services LLC</Line1><Line2>410 Terry Avenue North</Line2><City>Seattle</City><CountrySubDivisionCode>Washington</CountrySubDivisionCode><PostalCode>98109-5210</PostalCode></PayeeAddr><TotalAmt>222.90</TotalAmt></Header><Line><Id
        idDomain="QBO">1</Id><Amount>222.90</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">156</AccountId></Line></Check><Check><Id idDomain="QBO">1736</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-02T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-02T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-02-08:00</TxnDate><Msg>VISA
        DDA PUR [...]
