---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="mtckZ1VN4dgsjMlpzSBkkFuK5GLaFRxkNxCde68LEn0",
        oauth_signature="sCTLYfLISQR1Mpmkj0fNCQiDB28%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296490", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:01:31 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/invoices/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="W81je02LoiiXZgNz0jVrzVVSMrpf3nRLT0In1t2s",
        oauth_signature="bkO4Q2dufIqvulkTMSrpGaQ3ixs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296491", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Invoices"><Invoice><Id idDomain="QBO">1094</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-06-21T00:00:00-07:00</CreateTime><LastUpdatedTime>2012-06-21T00:00:00-07:00</LastUpdatedTime></MetaData><Header><DocNumber>80</DocNumber><TxnDate>2012-06-21-07:00</TxnDate><CustomerId
        idDomain="QBO">236</CustomerId><SubTotalAmt>41.63</SubTotalAmt><TotalAmt>41.63</TotalAmt><ToBePrinted>false</ToBePrinted><ToBeEmailed>false</ToBeEmailed><DueDate>2012-07-07-07:00</DueDate><ShipMethodId
        idDomain="QBO"/><Balance>0.00</Balance><DiscountTaxable>true</DiscountTaxable></Header><Line><Amount>41.63</Amount><Taxable>false</Taxable><ItemId
        idDomain="QBO">12</ItemId><UnitPrice>41.63</UnitPrice></Line><Line><Desc>Sales
        Tax 8.875%</Desc><Taxable>false</Taxable><ItemId idDomain="QBO">15</ItemId><UnitPrice>0.08875</UnitPrice><Qty>0</Qty></Line></Invoice><Invoice><Id
        idDomain="QBO">1080</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-06-08T00:00:00-07:00</CreateTime><LastUpdatedTime>2012-06-08T00:00:00-07:00</LastUpdatedTime></MetaData><Header><DocNumber>68</DocNumber><TxnDate>2012-06-08-07:00</TxnDate><CustomerId
        idDomain="QBO">235</CustomerId><SubTotalAmt>20.86</SubTotalAmt><TotalAmt>20.86</TotalAmt><ToBePrinted>false</ToBePrinted><ToBeEmailed>false</ToBeEmailed><DueDate>2012-07-07-07:00</DueDate>[...]
