---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="T0Xl8mgf3F2LqlYYKR19VbqhGsKwhZ8Czh36n2wiI",
        oauth_signature="ZYEXTIxgH%2FdNh29D2DflLDDk7eY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296572", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:02:54 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/employees/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="R8QHXmHXgL683QVCpnQDVpgmDGx18efYZYMRlWA8",
        oauth_signature="a5yT6R8azJ3nLpaM1rZdvkjmH5E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296574", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Employees"><Employee><Id idDomain="QBO">264</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:31-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:31-07:00</LastUpdatedTime></MetaData><Name>Edward
        Campion</Name><GivenName>Edward</GivenName><FamilyName>Campion</FamilyName><ShowAs>Edward
        Campion</ShowAs><BillableTime>false</BillableTime></Employee><Employee><Id
        idDomain="QBO">93</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:26-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:26-07:00</LastUpdatedTime></MetaData><Name>Francis
        Hwang</Name><GivenName>Francis</GivenName><FamilyName>Hwang</FamilyName><ShowAs>Francis
        Hwang</ShowAs><BillableTime>false</BillableTime><HiredDate>2010-11-04-07:00</HiredDate></Employee><Employee><Id
        idDomain="QBO">5</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-07-07T12:01:24-07:00</CreateTime><LastUpdatedTime>2012-07-07T12:01:24-07:00</LastUpdatedTime></MetaData><Name>Adam
        Neary</Name><GivenName>Adam</GivenName><FamilyName>Neary</FamilyName><ShowAs>Adam
        Neary</ShowAs><BillableTime>false</BillableTime><HiredDate>2010-04-11-07:00</HiredDate></Employee><Employee><Id
        idDomain="QBO">94</Id><SyncToken>0[...]
