---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="QdBhN7d6SkINlSzSVKiKa7zAdHIgX84eEIHreC0Kl18",
        oauth_signature="fT5%2BcxGaqcZva3uhYIZ5UT%2F%2BvSk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1343772000", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q01347457462074802f6b8</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Tue, 31 Jul 2012 22:00:00 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/bills/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="zcXrYPKy6M0EuQcEme3UyFTck5NRwhA7OQ4XPnkvcc",
        oauth_signature="KA4TSI3T7nKQh7NTNT01fZ26Hlc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1343772000", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Bills"><Bill><Id idDomain="QBO">1605</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-05T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-05T00:00:00-08:00</LastUpdatedTime></MetaData><Header><DocNumber>013</DocNumber><TxnDate>2012-03-05-08:00</TxnDate><VendorId
        idDomain="QBO">283</VendorId><TotalAmt>3910.00</TotalAmt><DueDate>2012-03-15-07:00</DueDate><Balance>0.00</Balance></Header><Line><Id
        idDomain="QBO">1</Id><Amount>3910.00</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">150</AccountId></Line></Bill><Bill><Id idDomain="QBO">1604</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-02-29T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-02-29T00:00:00-08:00</LastUpdatedTime></MetaData><Header><DocNumber>1382984</DocNumber><TxnDate>2012-02-29-08:00</TxnDate><VendorId
        idDomain="QBO">13</VendorId><TotalAmt>43.50</TotalAmt><SalesTermId idDomain="QBO">7</SalesTermId><DueDate>2012-03-30-07:00</DueDate><Balance>0.00</Balance></Header><Line><Id
        idDomain="QBO">1</Id><Amount>43.50</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">150</AccountId></Line></Bill><Bill><Id idDomain="QBO">1529</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-01-05T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-01-05T00:00:00-08:00</LastUpdatedTime></MetaData><Header><DocNumber>003</DocNumber><TxnDate>2012-01-05-08:00</TxnDate><VendorId
        idDomain="QBO">283</VendorId><TotalAmt>3910.00</TotalAmt><DueDate>2012-01-15-08:00</DueDate><Balance>0.00</Balance></Header><Line><Id
        idDomain="QBO">1</Id><Amount>3910.00</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">150</AccountId></Line></Bill><Bill><Id idDomain="QBO">1530</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-01-05T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-01-05T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-01-05-08:00</TxnDate><Msg>Holiday
        Party</Msg><VendorId idDomain="QBO">287</VendorId><TotalAmt>127.00</TotalAmt><DueDate>2012-01-15-08:00</DueDate><Balance>0.00</Balance></Header><Line><Id
        idDomain="QBO">1</Id><Amount>127.00</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">150</AccountId></Line></Bill><Bill><Id idDomain="QBO">1528</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2011-12-27T00:00:00-08:00</CreateTime><LastUpdatedTime>2011-12-27T00:00:00-08:00</LastUpdatedTime></MetaData><Header><DocNumber>[...]
