---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="6ES9YPYMvpK3XuCqa5mFKW3aT7AWZ4O9RXdakidpKE",
        oauth_signature="SXVn7P5rctKwif5lFA1HiCkqrxg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296548", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:02:29 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/sales-receipts/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="Ugw2U6j1yYOPl1VGM36rRaSUzdB6IQsHRthZLPtiOy4",
        oauth_signature="NIaXELxzOKfhGT0MjUXVeQGy8fg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296549", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <qbo:SearchResults
                xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
                xmlns:qbo="http://www.intuit.com/sb/cdm/qbo">
          <qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:type="SalesReceipts">
            <SalesReceipt>
              <Id idDomain="QBO">1719</Id>
              <SyncToken>0</SyncToken>
              <MetaData>
                <CreateTime>2012-02-16T00:00:00-08:00</CreateTime>
                <LastUpdatedTime>2012-02-16T00:00:00-08:00</LastUpdatedTime>
              </MetaData>
              <Header>
                <DocNumber>56</DocNumber>
                <TxnDate>2012-02-16-08:00</TxnDate>
                <CustomerId
                idDomain="QBO">281
                </CustomerId>
                <SalesTaxCodeId idDomain="QBO">1</SalesTaxCodeId>
                <SalesTaxCodeName>IS_TAXABLE</SalesTaxCodeName>
                <SubTotalAmt>54.43</SubTotalAmt>
                <TotalAmt>54.43</TotalAmt>
                <ToBePrinted>false</ToBePrinted>
                <ToBeEmailed>false</ToBeEmailed>
                <ShipMethodId
                idDomain="QBO"/>
                <DepositToAccountId idDomain="QBO">93</DepositToAccountId>
                <DepositToAccountName>12000
                Undeposited Funds
                </DepositToAccountName>
                <PaymentMethodId idDomain="QBO">18</PaymentMethodId>
                <PaymentMethodName>Braintree</PaymentMethodName>
                <DiscountTaxable>true</DiscountTaxable>
              </Header>
              <Line>
                <Id>1</Id>
                <Amount>49.99</Amount>
                <Taxable>true</Taxable>
                <ItemId>10</ItemId>
                <UnitPrice>49.99</UnitPrice>
              </Line>
              <Line>
                <Id>2</Id>
                <Desc>Sales
                Tax 8.875%
                </Desc>
                <Amount>4.44</Amount>
                <Taxable>false</Taxable>
                <ItemId>15</ItemId>
                <UnitPrice>0.08875</UnitPrice>
                <Qty>50.028169</Qty>
              </Line>
            </SalesReceipt>
            <SalesReceipt>
              <Id
                idDomain="QBO">1718
              </Id>
              <SyncToken>0</SyncToken>
              <MetaData>
                <CreateTime>2012-02-14T00:00:00-08:00</CreateTime>
                <LastUpdatedTime>2012-02-14T00:00:00-08:00</LastUpdatedTime>
              </MetaData>
              <Header>
                <DocNumber>55</DocNumber>
                <TxnDate>2012-02-1[...]
