---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="NjIi8b9G42igXa7AQqKL2evFLp6r17t705FGo6RdFg",
        oauth_signature="IuGveMkMN49Pgz553x9TNyF36SM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296394", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 16:59:55 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/vendors/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="wxQzzAFBb9hz9NzMnWAVB0753kURYTY6W4cDA0hTk",
        oauth_signature="lhPM%2BLt2TObjkFweFPH2f11Xo%2BY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296395", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8' standalone='yes'?>
        <qbo:SearchResults
          xmlns='http://www.intuit.com/sb/cdm/v2' xmlns:qbp='http://www.intuit.com/sb/cdm/qbopayroll/v1'
          xmlns:qbo='http://www.intuit.com/sb/cdm/qbo'>
        <qbo:CdmCollections xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:type='Vendors'>
        
        <Vendor>
          <Id idDomain='QBO'>175</Id>
          <SyncToken>0</SyncToken>
          <MetaData>
            <CreateTime>2012-07-07T12:01:29-07:00</CreateTime>
            <LastUpdatedTime>2012-07-07T12:01:29-07:00</LastUpdatedTime>
          </MetaData>
          <Name>''wichcraft</Name>
          <WebSite/>
          <ShowAs>''wichcraft</ShowAs>
          <Vendor1099>false</Vendor1099>
        </Vendor>
        <Vendor>
          <Id idDomain='QBO'>215</Id>
          <SyncToken>0</SyncToken>
          <MetaData>
            <CreateTime>2012-07-07T12:01:30-07:00</CreateTime>
            <LastUpdatedTime>2012-07-07T12:01:30-07:00</LastUpdatedTime>
          </MetaData>
          <Name>111
                Lex Liquors
          </Name>
          <WebSite/>
          <ShowAs>111 Lex Liquors</ShowAs>
          <Vendor1099>false</Vendor1099>
        </Vendor>
     [...]
