---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="rDopLinobVpPvRB1tBw0PVYmKk2cmxtVPlNQTNehzg",
        oauth_signature="R0OmqGT1RWYWfPIbwnmqzleg0Fc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296552", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:02:33 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/payments/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="7XETfn587WlmTL1oEu6Q9UNIZfrEGgvuA42BT9f4o",
        oauth_signature="KWn3My6%2B4Ictnhe8Nm3XAVfoRTk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296553", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="Payments"><Payment><Id idDomain="QBO">1789</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-06-21T00:00:00-07:00</CreateTime><LastUpdatedTime>2012-06-21T00:00:00-07:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-06-21-07:00</TxnDate><CustomerId
        idDomain="QBO">236</CustomerId><ProcessPayment>false</ProcessPayment></Header><Line><Amount>41.63</Amount><TxnId
        idDomain="QBO">1094</TxnId></Line></Payment><Payment><Id idDomain="QBO">1784</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-06-08T00:00:00-07:00</CreateTime><LastUpdatedTime>2012-06-08T00:00:00-07:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-06-08-07:00</TxnDate><CustomerId
        idDomain="QBO">235</CustomerId><ProcessPayment>false</ProcessPayment></Header><Line><Amount>20.86</Amount><TxnId
        idDomain="QBO">1080</TxnId></Line></Payment><Paymen[...]
