---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="ofqr0BPj3FS8rKxRe2G955KHtLu7fwR7rOKeE74fo",
        oauth_signature="s4dpichpHvUj%2B8V14enAWM%2FPJcY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296414", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:00:18 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/bill-payments/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="OYREHsmRKqn58h6q6gnQeLmEjCSArSrcDKuCJfSe8uE",
        oauth_signature="1a7Qx%2F5E6vsm4WzZn1kID2d3sSE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296418", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="BillPayments"><BillPayment>
        <Id
              idDomain="QBO">273
        </Id>
        <SyncToken>1</SyncToken>
        <MetaData>
          <CreateTime>2010-11-05T00:00:00-07:00</CreateTime>
          <LastUpdatedTime>2010-11-05T00:00:00-07:00</LastUpdatedTime>
        </MetaData>
        <Header>
          <TxnDate>2010-11-05-07:00</TxnDate>
          <Note>THIS IS TEST</Note>
          <EntityId>123</EntityId>
          <BankAccountId>94</BankAccountId>
          <ToBePrinted>false</ToBePrinted>
          <TotalAmt>2700.00</TotalAmt>
        </Header>
        <Line>
          <Amount>2700.00</Amount>
          <TxnId>269</TxnId>
        </Line>
      </BillPayment>
      <BillPayment><Id idDomain="QBO">84</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2010-06-16T00:00:00-07:00</CreateTime><LastUpdatedTime>2010-06-16T00:00:00-07:00</LastUpdatedTime></MetaData><Header><TxnDate>2010-06-16-07:00</TxnDate><EntityId>24</EntityId><BankAccountId>92</BankAccountId><ToBePrinted>true</ToBePrinted><TotalAmt>340.06</TotalAmt></Header><Line><Amount>340.06</Amount><TxnId>39</TxnId></Line></BillPayment><BillPayment><Id
        idDomain="QBO">83</Id><SyncToken>1</SyncToken><MetaData><CreateTi[...]
