---
http_interactions:
- request:
    method: get
    uri: https://qdc.qbo.intuit.com/qbo1/rest/user/v2/497421705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="pdUMB73BsHgOw4MJpiWw2PySzGFlIx56CSoYfAvGkUY",
        oauth_signature="exWYCrOZlS8PVaCoNo7BAREPz9g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296434", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:QboUser
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:LoginName>adamrneary</qbo:LoginName><qbo:Ticket>V1-156-Q013472960670985d14da3</qbo:Ticket><qbo:AgentId>157280668</qbo:AgentId><qbo:CurrentCompany><qbo:CompanyId>497421705</qbo:CompanyId><qbo:BaseURI>https://qbo.intuit.com/qbo36</qbo:BaseURI><qbo:SubscriptionStatus>SUBSCRIBED</qbo:SubscriptionStatus></qbo:CurrentCompany></qbo:QboUser>
  recorded_at: Mon, 10 Sep 2012 17:00:35 GMT
- request:
    method: post
    uri: https://qbo.intuit.com/qbo36/resource/credit-card-charges/v2/497421705
    body:
      encoding: US-ASCII
      string: PageNum=1&ResultsPerPage=100
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="4QD5P4MT5dL3038Egmosg7ramkfBWlnqfbR353MJyM",
        oauth_signature="eF%2F5y7%2BrqwbyMAjILezDJkgBFHQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1347296435", oauth_token="qyprdu6vPmoGcpFXOZht5vlwgJ5JlM1wszm6ojYZQOb1kiSz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><qbo:SearchResults
        xmlns="http://www.intuit.com/sb/cdm/v2" xmlns:qbp="http://www.intuit.com/sb/cdm/qbopayroll/v1"
        xmlns:qbo="http://www.intuit.com/sb/cdm/qbo"><qbo:CdmCollections xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="CreditCardCharges"><CreditCardCharge><Id idDomain="QBO">1629</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-09T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-09T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-09-08:00</TxnDate><Msg>407110238  (480)505-8855371738981511005</Msg><CCAccountId
        idDomain="QBO">118</CCAccountId><EntityId idDomain="QBO">14</EntityId><EntityType>Vendor</EntityType><TotalAmt>69.99</TotalAmt></Header><Line><Id
        idDomain="QBO">1</Id><Amount>69.99</Amount><BillableStatus>NotBillable</BillableStatus><AccountId
        idDomain="QBO">156</AccountId></Line></CreditCardCharge><CreditCardCharge><Id
        idDomain="QBO">1630</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2012-03-09T00:00:00-08:00</CreateTime><LastUpdatedTime>2012-03-09T00:00:00-08:00</LastUpdatedTime></MetaData><Header><TxnDate>2012-03-09-08:00</TxnDate><Msg>N0000000551VZWRLSS*APOCC371738981511013</Msg><CCAccountId
        idDomain="QBO">118</CCAccountId><EntityId idDomain="QBO">267</EntityId><En[...]
