<ul class="main-nav" id="main_nav">
  <li class="nav-ribbon" id="nav_ribbon"><!-- --></li>

  <!-- TODO do we really need data-nav? -->
  <li data-nav='dashboard' data-original-title='your dashboard'>
    <a class='tab' href="#dashboard">
      <i class="icon-large-dashboard icon-grey"></i>
    </a>
  </li>
  <li data-nav='company' data-original-title='your company'>
    <a class='tab' href="#company">
      <i class="icon-large-building icon-grey"></i>
    </a>
  </li>
  <li data-nav='products' data-original-title='your products and services'>
    <a class='tab' href="#products">
      <i class="icon-large-tags icon-grey"></i>
    </a>
  </li>
  <li data-nav='customers' data-original-title='your customers'>
    <a class='tab' href="#customers">
      <i class="icon-large-adress-book icon-grey"></i>
    </a>
  </li>
  <li data-nav='employees' data-original-title='your team'>
    <a class='tab' href="#employees">
      <i class="icon-large-group-icon icon-grey"></i>
    </a>
  </li>
  <li data-nav='vendors' data-original-title='your vendors'>
    <a class='tab' href="#vendors">
      <i class="icon-large-shopping-cart-in icon-grey"></i>
    </a>
  </li>
  <li data-nav='settings' data-original-title='settings'>
    <a class='tab' href="#settings/user">
      <i class="icon-large-settings icon-grey"></i>
    </a>
  </li>
  <li data-nav='search' data-original-title='lightning search' id="search-modal-link">
    <a class='tab' href="javascript:;">
      <i class="icon-large-binoculars icon-grey"></i>
    </a>
  </li>
</ul>
