@import "../common/colors";
@import "../common/mixins";

.head {
  padding-top: 10px;
  min-height: 75px;

  img.logo {
    padding-top: 6px;
    display: block;
    float: left;
  }
  
  #spinner { 
    float: left; 
    padding: 22px; 
    margin: 6px 3px 3px 3px; 
  }

  .company {
    float: left;
    padding: 18px 0 0 20px;
    font-size: 14px;
    color: #fff;
  }

  .head-buttons {
    float: right;
    margin-top: 7px;
    margin-left: 150px;
    position: relative;
  }

  .scenario-select {
    position: relative;
    margin-top: 4px;
  }

  .companies { 
    width: 200px;
    margin: 5px 0 0 250px; 
    padding: 5px 10px;
    border-radius: 0 0 5px 5px !important;
    z-index: 9000;
  }

  button.user-settings {
    position: relative;
    float: right;
    width: 220px;
    height: 56px;
    line-height: 18px;
    margin: -45px -20px 0 250px;
    border-radius: 2px;
    padding-left: 8px;

    &:before, &:after {
      display: none;
    }

    .avatar {
      float: left;
      margin: 0 10px 0 0;

      img {
        border: none;
      }
    }

    span {
      display: block;
      font-size: 12px;
      width: 133px;

      @include text-overflow();

      &.email {
        font-size: 11px;
      }
    }

    i {
      position: absolute;
      right: 13px;
      top: 20px;
    }
  }

  ul.user-settings {
    z-index: 191;
    li {
      &.log-out {
        a {
          color: #999;
        }
      }
    }
  }
  ul.scenarios {
    margin: -5px 0 0 0;
  }
  
}

#intuitPlatformAppMenu {
  right: 0 !important;
}

