@import "colors";

.chart-dark-blue-10 {fill: $dark-blue-10;}
.chart-dark-blue-20 {fill: $dark-blue-20;}
.chart-dark-blue-30 {fill: $dark-blue-30;}
.chart-dark-blue-40 {fill: $dark-blue-40;}
.chart-dark-blue-50 {fill: $dark-blue-50;}
.chart-dark-blue-60 {fill: $dark-blue-60;}

.chart-blue-10 {fill: $blue-10;}
.chart-blue-20 {fill: $blue-20;}
.chart-blue-30 {fill: $blue-30;}
.chart-blue-40 {fill: $blue-40;}
.chart-blue-50 {fill: $blue-50;}
.chart-blue-60 {fill: $blue-60;}

.chart-azure-10 {fill: $azure-10;}
.chart-azure-20 {fill: $azure-20;}
.chart-azure-30 {fill: $azure-30;}
.chart-azure-40 {fill: $azure-40;}
.chart-azure-50 {fill: $azure-50;}
.chart-azure-60 {fill: $azure-60;}

.chart-light-blue-10 {fill: $light-blue-10;}
.chart-light-blue-20 {fill: $light-blue-20;}
.chart-light-blue-30 {fill: $light-blue-30;}
.chart-light-blue-40 {fill: $light-blue-40;}
.chart-light-blue-50 {fill: $light-blue-50;}
.chart-light-blue-60 {fill: $light-blue-60;}

.chart-barn-red-10 {fill: $barn-red-10;}
.chart-barn-red-20 {fill: $barn-red-20;}
.chart-barn-red-30 {fill: $barn-red-30;}
.chart-barn-red-40 {fill: $barn-red-40;}
.chart-barn-red-50 {fill: $barn-red-50;}
.chart-barn-red-60 {fill: $barn-red-60;}

.chart-scarlet-red-10 {fill: $scarlet-red-10;}
.chart-scarlet-red-20 {fill: $scarlet-red-20;}
.chart-scarlet-red-30 {fill: $scarlet-red-30;}
.chart-scarlet-red-40 {fill: $scarlet-red-40;}
.chart-scarlet-red-50 {fill: $scarlet-red-50;}
.chart-scarlet-red-60 {fill: $scarlet-red-60;}

.chart-alloy-orange-10 {fill: $alloy-orange-10;}
.chart-alloy-orange-20 {fill: $alloy-orange-20;}
.chart-alloy-orange-30 {fill: $alloy-orange-30;}
.chart-alloy-orange-40 {fill: $alloy-orange-40;}
.chart-alloy-orange-50 {fill: $alloy-orange-50;}
.chart-alloy-orange-60 {fill: $alloy-orange-60;}

.chart-brown-10 {fill: $brown-10;}
.chart-brown-20 {fill: $brown-20;}
.chart-brown-30 {fill: $brown-30;}
.chart-brown-40 {fill: $brown-40;}
.chart-brown-50 {fill: $brown-50;}
.chart-brown-60 {fill: $brown-60;}

.chart-silver-grey-10 {fill: $silver-grey-10;}
.chart-silver-grey-20 {fill: $silver-grey-20;}
.chart-silver-grey-30 {fill: $silver-grey-30;}
.chart-silver-grey-40 {fill: $silver-grey-40;}
.chart-silver-grey-50 {fill: $silver-grey-50;}
.chart-silver-grey-60 {fill: $silver-grey-60;}

.chart-dark-grey-10 {fill: $dark-grey-10;}
.chart-dark-grey-20 {fill: $dark-grey-20;}
.chart-dark-grey-30 {fill: $dark-grey-30;}
.chart-dark-grey-40 {fill: $dark-grey-40;}
.chart-dark-grey-50 {fill: $dark-grey-50;}
.chart-dark-grey-60 {fill: $dark-grey-60;}