@import "colors";
@import "mixins";

.head {
  .dropdown-list {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    padding-top: 4px;
    padding-left: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

    li {
      width: 191px;
      margin: 1px 3px;

      &.accented-border {
        border-color: $grey;
      }

      a {
        font-size: 13px;
        padding: 8px 7px;
      }
    }
  }
}

.popup {
  display: inline-block;
  position: relative;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);

  @include gradient($white, lighten($lighter-grey, 2%));

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: -7px;
    width: 20px;
    height: 7px;
    background: image-url("sprite_air.png") -50px -10px no-repeat;
  }

  .links-block {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 4px 5px 4px 5px;
      padding: 5px 12px;
      color: #a6a6a6;
      @include proxima-bold;
      font-size: 18px;
      text-align: center;
      text-shadow: 1px 1px 0 rgba(255,255,255,0.8);

      &.active {
        color: $secondary;
        border-radius: 4px;
        background: $info image-url('bgs/bg_checker.png');
        text-shadow: none;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
      
        span {
          color: darken($white, 4%);
          text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
      }

      span {
        display: block;
        margin: 10px;
        font-size: 24px;
        color: $dark-grey-50;
      }
    }
  }

  &.right-aligned {
    position: absolute;
    right: -15px;
    top: 25px;

    &:after {
      left: auto;
      right: 13px;
    }
  }
}

.dropdown-list {
  @extend .popup;

  margin: 0;
  padding: 10px 0 5px 0;
  list-style: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.19);
  z-index: 1000;

  li {
    margin: 1px 10px;
    width: 160px;
    border-top: 1px solid #e2e2e2;

    &:first-child {
      border-top: none;
    }

    a {
      display: block;
      padding: 8px 10px;
      font-size: 14px;
      color: #7f7f7f;

      &:hover {
        color: darken(#7f7f7f, 15%);
      }

      i {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }
}