---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/creditcardrefund/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<CreditCardRefundQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</CreditCardRefundQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="WTaDnAfrx1hazCT33ZkxCgQVcZ4uk288vDwJ7TWZY",
        oauth_signature="oHMrDHg65TyW%2FQjtWmySQO7Uvyw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345642590", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - dd93c3c5-3b00-469a-abc3-9116acaa1077
      Response-App-Time:
      - '406'
      Response-Db-Time:
      - '369'
      Response-Routing-Time:
      - '412'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><CreditCardRefunds>

        <CreditCardRefund>

        <Id idDomain="QB">8209</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2012-03-12T17:56:45.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2012-03-12T19:27:24.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">8209</ExternalKey>

        <Synchronized>true</Synchronized>

        <Header>

        <DocNumber>1</DocNumber>

        <TxnDate>2012-01-31</TxnDate>

        <CustomerId idDomain="QB">205</CustomerId>

        <CustomerName>Virtualis Bookkeeping</CustomerName>

        <RefundAccountId idDomain="QB">81</RefundAccountId>

        <RefundAccountName>Undeposited Funds</RefundAccountName>

        <ARAccountId idDomain="QB">46</ARAccountId>

        <ARAccountName>Accounts Receivable</ARAccountName>

        <PaymentMethodId idDomain="QB">11</PaymentMethodId>

        <PaymentMethodName>Braintree</PaymentMethodName>

        <Address>

        <Id idDomain="QB">00000000000002qQ</Id>

        <Default>1</Default>

        </Address>

        <TotalAmt>130.65</TotalAmt>

        <AppliedTo>

        <TxnId idDomain="QB">8204</TxnId>

        <TxnType>CreditMemo</TxnType>

        <RefundAmt>149.97</RefundAmt>

        </AppliedTo>

        <AppliedTo>

        <TxnId idDomain="QB">8204</TxnId>

        <TxnType>CreditMemo</TxnType>

        <RefundAmt>-29.97</RefundAmt>

        </AppliedTo>

        <AppliedTo>

        <TxnId idDomain="QB">8204</TxnId>

        <TxnType>CreditMemo</TxnType>

        <RefundAmt>10.65</RefundAmt>

        </AppliedTo>

        <AppliedTo>

        <TxnId idDomain="QB">8404</TxnId>

        <TxnType>Deposit</TxnType>

        <RefundAmt>-130.65</RefundAmt>

        </AppliedTo>

        </Header>

        </CreditCardRefund>

        </CreditCardRefunds></RestResponse>'
  recorded_at: Wed, 22 Aug 2012 13:36:32 GMT
recorded_with: VCR 2.2.4
