---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/account/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<AccountQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n</AccountQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="BUpFM60SEJRsZKZyQXeUoNzbWec64B7rQBSdY7387w",
        oauth_signature="8NOrNHCsMWJUGw5sqgzYPTVvxd8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345460754", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 32a49a36-7f12-49bf-a59d-a82cd961b9a7
      Response-App-Time:
      - '358'
      Response-Db-Time:
      - '322'
      Response-Routing-Time:
      - '367'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Accounts>

        <Account>

        <Id idDomain="QB">140</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2012-01-27T01:34:14.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2012-01-27T01:34:14.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">140</ExternalKey>

        <Synchronized>true</Synchronized>

        <Name>Reimbursements payable</Name>

        <Active>true</Active>

        <Type>Liability</Type>

        <Subtype>Other Current Liability</Subtype>

        <AcctNum>20100</AcctNum>

        <CurrentBalance>950</CurrentBalance>

        </Account>

        <Account>

        <Id idDomain="QB">139</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2012-01-26T23:54:59.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2012-01-26T23:54:59.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">1[...]
