---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/bill/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<BillQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</BillQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="cDQRqbcIlApE5Pw7dbc822uO99IIFiKAbT95fmbttM",
        oauth_signature="fOnpKYGSTZtM3fHchCaPNsf1Umc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345545108", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - bf14714d-1621-4b71-b7e5-d6db7daaa831
      Response-App-Time:
      - '617'
      Response-Db-Time:
      - '116'
      Response-Routing-Time:
      - '622'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

<RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd">
        <Bills>

          <Bill>

            <Id idDomain="QB">7667</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-03-12T16:06:56.0Z</CreateTime>

              <LastModifiedBy>app</LastModifiedBy>

              <LastUpdatedTime>2012-03-12T16:13:26.0Z</LastUpdatedTime>

            </MetaData>

            <ExternalKey idDomain="QB">7667</ExternalKey>

            <Synchronized>true</Synchronized>

            <Header>

              <DocNumber>013</DocNumber>

              <TxnDate>2012-03-05</TxnDate>

              <Status>Paid</Status>

              <VendorId idDomain="QB">288</VendorId>

              <VendorName>Authentic Matters</VendorName>

              <TotalAmt>3910</TotalAmt>

              <PayerId idDomain="QB">288</PayerId>

              <PayerName>Authentic Matters</PayerName>

              <APAccountId idDomain="QB">899</APAccountId>

              <APAccountName>Accounts Payable</APAccountName>

              <DueDate>2012-03-15</DueDate>

              <RemitToAddr>

                <Id idDomain="QB">00000000000004yV</Id>

                <City>Philadelphia</City>

                <CountrySubDivisionCode>PA</CountrySubDivisionCode>

                <PostalCode>19106</PostalCode>

                <Default>1</Default>

                <Tag>Billing</Tag>

              </RemitToAddr>

              <Balance>0</Balance>

            </Header>

            <Line>

              <Id idDomain="QB">7669</Id>

              <Amount>3910</Amount>

              <AccountId idDomain="QB">899</AccountId>

              <AccountName>Public Relations</AccountName>

              <AccountType>Expense</AccountType>

            </Line>

          </Bill>

          <Bill>

            <Id idDomain="QB">7664</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-03-12T16:01:33.0Z</CreateTime>

              <LastModifiedBy>app</LastModifiedBy>

              <LastUpdatedTime>2012-03-12T16:13:26.0Z</LastUpdatedTime>

            </MetaData>

            <ExternalKey idDomain="QB">7664</ExternalKey>

            <Synchronized>true</Synchronized>

            <Header>

              <DocNumber>1382984</DocNumber>

              <TxnDate>2012-02-29</TxnDate>

              <Status>Paid</Status>

              <VendorId idDomain="QB">14</VendorId>

              <VendorName>Wilson Sonsini Goodrich Rosati</VendorName>

              <TotalAmt>43.5</TotalAmt>

              <PayerId idDomain="QB">14</PayerId>

              <PayerName>Wilson Sonsini Goodrich Rosati</PayerName>

              <APAccountId idDomain="QB">899</APAccountId>

              <APAccountName>Accounts Payable</APAccountName>

              <SalesTermId idDomain="QB">6</SalesTermId>

              <SalesTermName>Net 30</SalesTermName>

              <DueDate>2012-03-30</DueDate>

              <RemitToAddr>

                <Id idDomain="QB">00000000000000xR</Id>

                <City>San Francisco</City>

                <CountrySubDivisionCode>CA</CountrySubDivisionCode>

                <PostalCode>94160-3672</PostalCode>

                <Default>1</Default>

                <Tag>Billing</Tag>

              </RemitToAddr>

              <Balance>0</Balance>

            </Header>

            <Line>

              <Id idDomain="QB">7666</Id>

              <Amount>43.5</Amount>

              <AccountId idDomain="QB">899</AccountId>

              <AccountName>Legal fees</AccountName>

              <AccountType>Expense</AccountType>

            </Line>

          </Bill>

          <Bill>

            <Id idDomain="QB">7261</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-01-09T16:17:33.0Z</CreateTime>

              <LastModifiedBy>app</LastModifiedBy>

              <LastUpdatedTime>2012-01-09T16:36:03.0Z</LastUpdatedTime>

            </MetaData>

            <ExternalKey idDomain="QB">7261</ExternalKey>

            <Synchronized>true</Synchronized>

            <Header>

              <TxnDate>2012-01-05</TxnDate>

              <Note>Holiday Party</Note>

              <Status>Paid</Status>

              <VendorId idDomain="QB">292</VendorId>

              <VendorName>MoveableInk</VendorName>

              <TotalAmt>127</TotalAmt>

              <PayerId idDomain="QB">292</PayerId>

              <PayerName>MoveableInk</PayerName>

              <APAccountId idDomain="QB">899</APAccountId>

              <APAccountName>Accounts Payable</APAccountName>

              <DueDate>2012-01-15</DueDate>

              <RemitToAdd[...]
