---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/salesreceipt/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<SalesReceiptQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2001-01-01</StartTransactionDate>\n</SalesReceiptQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="sQCSdaYL4YFr0fXeemWMBXnPKeVhKPgYWqRqxbHNXho",
        oauth_signature="Wo%2FyXozZ%2BX%2Bo6p6kFaWp5ITDWk4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345710640", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 83229f42-7968-4d23-9a2f-809c168905d7
      Response-App-Time:
      - '360'
      Response-Db-Time:
      - '354'
      Response-Routing-Time:
      - '367'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

      <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

              xmlns:xdb          ="http://xmlns.oracle.com/xdb"

              xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

              xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd">
        <SalesReceipts>

          <SalesReceipt>

            <Id idDomain="QB">8184</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-03-12T17:52:07.0Z</CreateTime>

              <LastModifiedBy>app</LastModifiedBy>

              <LastUpdatedTime>2012-03-12T18:35:47.0Z</LastUpdatedTime>

            </MetaData>

            <ExternalKey idDomain="QB">8184</ExternalKey>

            <Synchronized>true</Synchronized>

            <Header>

              <DocNumber>52</DocNumber>

              <TxnDate>2012-02-09</TxnDate>

              <Status>Payable</Status>

              <CustomerId idDomain="QB">293</CustomerId>

              <CustomerName>Starlite Logistics</CustomerName>

              <RemitToId idDomain="QB">293</RemitToId>

              <RemitToName>Starlite Logistics</RemitToName>

              <SalesTaxCodeId idDomain="QB">2</SalesTaxCodeId>

              <SalesTaxCodeName>Non</SalesTaxCodeName>

              <ShipDate>2012-02-09</ShipDate>

              <SubTotalAmt>49.99</SubTotalAmt>

              <TaxId idDomain="QB">15</TaxId>

              <TaxName>NYC Sales Tax</TaxName>

              <TaxRate>8.875</TaxRate>

              <TaxAmt>0</TaxAmt>

              <TotalAmt>49.99</TotalAmt>

              <ToBePrinted>false</ToBePrinted>

              <ToBeEmailed>false</ToBeEmailed>

              <ShipAddr>

                <Id idDomain="QB">000000000000059N</Id>

                <Default>1</Default>

                <Tag>Billing</Tag>

              </ShipAddr>

              <DepositToAccountId idDomain="QB">81</DepositToAccountId>

              <DepositToAccountName>Undeposited Funds</DepositToAccountName>

            </Header>

            <Line>

              <Id idDomain="QB">8186</Id>

              <Amount>49.99</Amount>

              <Taxable>false</Taxable>

              <ItemId idDomain="QB">9</ItemId>

              <ItemName>Profitably Basic Monthly</ItemName>

              <ItemType>Service</ItemType>

              <UnitPrice>49.99</UnitPrice>

              <SalesTaxCodeId idDomain="QB">2</SalesTaxCodeId>

              <SalesTaxCodeName>Non</SalesTaxCodeName>

            </Line>

            <TaxLine>

              <Id idDomain="QB">8187</Id>

              <Amount>0</Amount>

              <TaxId idDomain="QB">15</TaxId>

              <TaxName>NYC Sales Tax</TaxName>

            </TaxLine>

          </SalesReceipt>

          <SalesReceipt>

            <Id idDomain="QB">8180</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-03-12T17:51:49.0Z</CreateTime>

              <LastModifiedBy>app</LastMo[...]
