---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/check/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<CheckQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</CheckQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="JwIbIGmGBdgYAyZpyoR5B7b6uN4PC7BF8qcRoc",
        oauth_signature="g13KSGcV%2FierAzhELlIMbUiIhqE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345631583", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - f397ecdd-084f-41ba-9997-ee9b421ab8f0
      Response-App-Time:
      - '719'
      Response-Db-Time:
      - '685'
      Response-Routing-Time:
      - '725'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

                xmlns:xdb          ="http://xmlns.oracle.com/xdb"

                xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

                xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd">
          <Checks>

            <Check>

              <Id idDomain="QB">8374</Id>

              <SyncToken>1</SyncToken>

              <MetaData>

                <CreatedBy>app</CreatedBy>

                <CreateTime>2012-03-12T18:37:09.0Z</CreateTime>

                <LastModifiedBy>app</LastModifiedBy>

                <LastUpdatedTime>2012-03-12T18:37:09.0Z</LastUpdatedTime>

              </MetaData>

              <ExternalKey idDomain="QB">8374</ExternalKey>

              <Synchronized>true</Synchronized>

              <Header>

                <TxnDate>2012-03-05</TxnDate>

                <Note>MERCHANT BNKCD   FEE</Note>

                <Status>Payable</Status>

                <BankAccountId idDomain="QB">82</BankAccountId>

                <BankAccountName>TD Bank Bus. Conv. Checking</BankAccountName>

                <EntityId idDomain="QB">200</EntityId>

                <EntityName>Braintree</EntityName>

                <EntityType>Vendor</EntityType>

                <PayeeAddr>

                  <Id idDomain="QB">000000000000061G</Id>

                  <Default>0</Default>

                  <Tag>Billing</Tag>

                </PayeeAddr>

                <TotalAmt>1170.98</TotalAmt>

                <ToBePrinted>0</ToBePrinted>

              </Header>

              <Line>

                <Id idDomain="QB">8376</Id>

                <Amount>1170.98</Amount>

                <AccountId idDomain="QB">20</AccountId>

                <AccountName>Bank Service Charges</AccountName>

                <AccountType>Expense</AccountType>

              </Line>

            </Check>

            <Check>

              <Id idDomain="QB">8290</Id>

              <SyncToken>1</SyncToken>

              <MetaData>

                <CreatedBy>app</CreatedBy>

                <CreateTime>2012-03-12T18:08:12.0Z</CreateTime>

                <LastModifiedBy>app</LastModifiedBy>

                <LastUpdatedTime>2012-03-12T19:27:32.0Z</LastUpdatedTime>

              </MetaData>

              <ExternalKey idDomain="[...]
