---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/vendorcredit/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<VendorCreditQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2001-01-01</StartTransactionDate>\n</VendorCreditQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="BWzS1RxU5ifPRDawDZKMssRFwZh5aC3HZBQEnd6UW3c",
        oauth_signature="Q2DLpbW8wsuSDloX0y5ePMJYfSs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345712226", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 7e58de9e-f13d-4a61-bbd6-16da7e2e1dd9
      Response-App-Time:
      - '286'
      Response-Db-Time:
      - '255'
      Response-Routing-Time:
      - '290'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><VendorCredits>

        </VendorCredits></RestResponse>'
  recorded_at: Thu, 23 Aug 2012 08:57:08 GMT
recorded_with: VCR 2.2.4
