---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/creditcardcredit/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<CreditCardCreditQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</CreditCardCreditQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="ELW34lZPR3lPLN8jnHcW4P8HaMLnbfCLZR8pf8JfQ",
        oauth_signature="ICGWx7WYqAXFZD8f0x16SFuM%2BlQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345641593", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Linequerytime:
      - '340'
      Contextinittime:
      - '610'
      Response-Id:
      - bf9cb1dc-25e9-4af2-a375-17c8dd4965f8
      Assemblingtime:
      - '0'
      Headerquerytime:
      - '221'
      Headerdaotime:
      - '221'
      Linedaotime:
      - '340'
      Response-App-Time:
      - '1912'
      Response-Routing-Time:
      - '1919'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><RestResponse
        xmlns="http://www.intuit.com/sb/cdm/v2"><CreditCardCredits><CreditCardCredit><Id
        idDomain="QB">8122</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-12T17:17:20Z</CreateTime><LastUpdatedTime>2012-03-12T17:17:20Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8122</ExternalKey><Synchronized>true</Synchronized><Header><TxnDate>2012-02-28T00:00:00Z</TxnDate><Status>Payable</Status><CCAccountId
        idDomain="QB">83</CCAccountId><CCAccountName>TD Bank Credit Card #0951</CCAccountName><EntityId
        idDomain="QB">38</EntityId><EntityName>TD Bank</EntityName><EntityType>Vendor</EntityType><TotalAmt>3303.56</TotalAmt></Header><Line><Id
        idDomain="QB">8124</Id><Desc>TD BANK, N.A.    PAYMENT</Desc><Amount>3303.56</Amount><AccountId
        idDomain="QB">82</AccountId><AccountName>TD Bank Bus. Conv. Checking</AccountName><AccountType>Asset</AccountType></Line></CreditCardCredit><CreditCardCredit><Id
        idDomain="QB">8095</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-12T17:17:19Z</CreateTime><LastUpdatedTime>2012-03-12T18:52:12Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8095</ExternalKey><Synchronized>true</Synchronized><Header><TxnDate>2012-01-30T00:00:00Z</TxnDate><Status>Payable</Status><CCAccountId
        idDomain="QB">83</CCAccountId><CCAccountName>TD Bank Credit Card #0951</CCAccountName><EntityId
        idDomain="QB">38</EntityId><EntityName>TD Bank</EntityName><EntityType>Vendor</EntityType><TotalAmt>558.59</TotalAmt></Header><Line><Id
        idDomain="QB">8097</Id><Desc>TD BANK, N.A.    PAYMENT</Desc><Amount>558.59</Amount><AccountId
        idDomain="QB">82</AccountId><AccountName>TD Bank Bus. Conv. Checking</AccountName><AccountType>Asset</AccountType></Line></CreditCardCredit><CreditCardCredit><Id
        idDomain="QB">8044</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-12T17:11:54Z</CreateTime><LastUpdatedTime>2012-03-12T17:11:54Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8044</ExternalKey><Synchronized>true</Synchronized><Header><TxnDate>2012-03-08T00:00:00Z</TxnDate><Note>4227493335  210-581-0410371556605061003</Note><Status>Payable</Status><CCAccountId
        idDomain="QB">137</CCAccountId><CCAccountName>Amex Plum Card #1003</CCAccountName><EntityId
        idDomain="QB">233</EntityId><EntityName>The Rackspace</EntityName><EntityType>Vendor</EntityType><TotalAmt>1514.01</TotalAmt></Header><Line><Id
        idDomain="QB">8046</Id><Amount>1514.01</Amount><AccountId idDomain="QB">76</AccountId><AccountName>Hosting</AccountName><AccountType>Expense</AccountType></Line></CreditCardCredit><CreditCardCredit><Id
        idDomain="QB">8023</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-12T17:11:52Z</CreateTime><LastUpdatedTime>2012-03-12T17:11:52Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8023</ExternalKey><Synchronized>true</Synchronized><Header><TxnDate>2012-02-29T00:00:00Z</TxnDate><Status>Payable</Status><CCAccountId
        id[...]
