---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/charge/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<ChargeQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</ChargeQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="RP3o0RkZG8GwgpPCZyKhi8yF48R8eHzBl9U6KUUA",
        oauth_signature="buMLdmFsALXf0nsPryBUAPCWnCo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345628739", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 9a4666ee-2ab3-431e-b170-ae925195b8aa
      Response-App-Time:
      - '749'
      Response-Db-Time:
      - '710'
      Response-Routing-Time:
      - '754'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

                xmlns:xdb          ="http://xmlns.oracle.com/xdb"

                xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

                xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd">
          <Charges>

            <Charge>

              <Id idDomain="QB">5006</Id>

              <MetaData>

                <CreatedBy>app</CreatedBy>

                <CreatedById>1</CreatedById>

                <CreateTime>2011-08-07T17:58:42.0Z</CreateTime>

                <LastModifiedBy>app</LastModifiedBy>

                <LastModifiedById>1</LastModifiedById>

                <LastUpdatedTime>2011-09-11T16:31:26.0Z</LastUpdatedTime>

              </MetaData>

              <ExternalKey idDomain="QB">5006</ExternalKey>

              <Header>

                <TxnDate>2012-06-21</TxnDate>

                <Currency>USD</Currency>

                <Status>Paid</Status>

                <CustomerId idDomain="QB">239</CustomerId>

                <CustomerName>Chris Coggins</CustomerName>

                <RemitToId idDomain="QB">239</RemitToId>

                <RemitToName>Chris Coggins</RemitToName>

                <ARAccountId idDomain="QB">46</ARAccountId>

                <ARAccountName>Accounts Receivable</ARAccountName>

                <TotalAmt>41.63</TotalAmt>

              </Header>

              <Line>

                <Id idDomain="QB">5008</Id>

                <ItemId idDomain="QB">12</ItemId>

                <ItemName>Profitably Basic Annual</ItemName>

                <ItemType>Service</ItemType>

                <UnitPrice>41.63</UnitPrice>

                <Amount>41.63</Amount>

              </Line>

            </Charge>

            <Charge>

              <Id idDomain="QB">5002</Id>

              <MetaData>

                <CreatedBy>app</CreatedBy>

                <CreatedById>1</CreatedById>

                <CreateTime>2011-08-07T17:58:36.0Z</CreateTime>

                <LastModifiedBy>app</LastModifiedBy>

                <LastModifiedById>1</LastModifiedById>

                <LastUpdatedTime>2011-09-11T16:31:26.0Z</LastUpdatedTime>

       [...]
