---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/employee/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<EmployeeQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n</EmployeeQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="vgJwSQtGHMQ5pNL2YkV0775XC80BROaCLeTySM5G4",
        oauth_signature="AK%2FY1VB5QTNcVxoFgh4wd%2FtoCRA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345469880", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - fe4e5938-a980-43d8-875a-e5307fcfa6e0
      Response-App-Time:
      - '235'
      Response-Db-Time:
      - '199'
      Response-Routing-Time:
      - '239'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Employees>

        <Employee>

        <Id idDomain="QB">268</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2011-09-11T16:03:58.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>
        
        <LastUpdatedTime>2011-09-11T16:08:51.0Z</LastUpdatedTime>

        </MetaData>

        <HiredDate>2012-02-09</HiredDate>

        <ReleasedDate>2012-03-09</ReleasedDate>

        <ExternalKey idDomain="QB">268</ExternalKey>

        <Synchronized>true</Synchronized>

        <PartyReferenceId idDomain="QB">268</PartyReferenceId>

        <TypeOf>Person</TypeOf>

        <Name>Edward Campion</Name>

        <GivenName>Edward</GivenName>

        <FamilyName>Campion</FamilyName>

        <Suffix>EC</Suffix>

        <ShowAs>Edward Campion</ShowAs>

        <EmployeeType>Regular</EmployeeType>

        </Employee>

        <Employee>

        <Id idDomain="QB">228</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2011-06-25T01:48:34.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2011-07-13T02:40:11.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">228</ExternalKey>

        <Synchronized>true</Synchronized>

        <PartyReferenceId idDomain="QB">228</PartyReferenceId>

        <TypeOf>Person</TypeOf>

        <Name>Eric Richmond</Name>

        <GivenName>Eric</GivenName>

        <FamilyName>Richmond</FamilyName>

        <Suffix>ER</Suffix>

        <Active>true</Active>

        <ShowAs>Eric Richmond</ShowAs>

        <EmployeeType>Regular</EmployeeType>

        </Employee>

        <Employee>

        <Id idDomain="QB">98</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2010-11-04T18:14:30.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2011-06-07T16:42:01.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">98</Ext[...]
