---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/customer/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<CustomerQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n</CustomerQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="NTTQkUi91mRdzphE2ZIrPRDqfNLG5sTVeBbfaA7jeM",
        oauth_signature="FVUvY6ZPPvoBwBkd7a4n8i9EH3M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345216060", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 30041a66-2880-4d6f-a3d9-23e7a167a264
      Response-App-Time:
      - '509'
      Response-Db-Time:
      - '459'
      Response-Routing-Time:
      - '516'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Customers>

        <Customer>

        <Id idDomain="QB">306</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2012-03-12T17:53:47.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2012-03-12T17:53:47.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">306</ExternalKey>

        <Synchronized>true</Synchronized>

        <PartyReferenceId idDomain="QB">306</PartyReferenceId>

        <TypeOf>Person</TypeOf>

        <Name>Unleashed Testing</Name>

        <Email>

        <Id idDomain="QB">00000000000005xs</Id>

        <Address>chris@unleashed-online.com</Address>

        <Default>1</Default>

        <Tag>Business</Tag>

        </Email>

        <DBAName>Unleashed Online Marketing</DBAName>

        <Active>true</Active>

        <ShowAs>Unleashed Online Marketing</ShowAs>

        <SalesTaxCodeId idDomain="QB">2</SalesTaxCodeId>

        <SalesTaxCodeName>Non</SalesTaxCodeName>

        <TaxId idDomain="QB">15</TaxId>

        <TaxName>NYC Sales Tax</TaxName>

        <OpenBalance>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </OpenBalance>

        <OpenBalanceDate>2012-02-09</OpenBalanceDate>

        <JobInfo>

        <Status>None</Status>

        </JobInfo>

        </Customer>

        <Customer>

        <Id idDomain="QB">305</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2012-03-12T17:48:51.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2012-03-12T17:48:51.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">305</ExternalKey>

        <Synchronized>true</Synchronized>

        <PartyReferenceId idDomain="QB">305</PartyReferenceId>

        <TypeOf>Person</TypeOf>

        <Name>Test Companies</Name>

        <Email>

        <Id idDomain="QB">00000000000005x8</Id>

        <Address>erichaney@cdlcollege.com</Address>

        <Default>1</Default>

        <Tag>Business</Tag>

        </Email>

        <GivenName>Eric</GivenName>

        <FamilyName>Haney</FamilyName>

        <DBAName>CDL Companies</DBAName>

        <Active>true</Active>

        <ShowAs>CDL Companies</ShowAs>

        <SalesTaxCodeId idDomain="QB">1</SalesTaxCodeId>

        <SalesTaxCodeName>Tax</SalesTaxCodeName>

        <TaxId idDomain="QB">15</TaxId>

        <TaxName>NYC Sales Tax</TaxName>

        <PaymentMethodId idDomain="QB">11</PaymentMethodId>

        <PaymentMethodName>Braintree</PaymentMethodName>

        <OpenBalance>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </OpenBalance>

        <OpenBalanceDate>2012-01-10</OpenBalanceDate>

        <AcctNum>0</AcctNum>

        <JobInfo>

        <Status>None</Status>

        </JobInfo>

        </Customer>

        <Customer>

        <Id idDomain="QB">296</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2012-03-12T17:08:05.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2012-03-12T17:08:05.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">296</ExternalKey>

        <Synchronized>true</Synchronized>

        <PartyReferenceId idDomain="QB">296</PartyReferenceId>

        <TypeOf>Person</TypeOf>

        <Name>TESTDOM.COM         VASTERAS</Name>

        <Active>true</Active>

        <ShowAs>TESTDOM.COM         VASTERAS</ShowAs>

        <SalesTaxCodeId idDomain="QB">1</SalesTaxCodeId>

        <SalesTaxCodeName>Tax</SalesTaxCodeName>

        <OpenBalance>

        <CurrencyCode>USD</CurrencyCode>

        <Amount>0</Amount>

        </OpenBalance>

        <JobInfo>

        <Status>None</Status>

        </JobInfo>

        </Customer>


        </Customers></RestResponse>'
  recorded_at: Fri, 17 Aug 2012 15:07:44 GMT
recorded_with: VCR 2.2.4
