---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/deposit/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<DepositQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</DepositQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="IDKc5SmxuxuuN8IoXCE998CPy2oYttUIIuVPSQFrNmo",
        oauth_signature="pNI5zTzkkCspRhcys75SmHAMZMc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345648061", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 4ca82e3a-5f31-4bd6-9e4f-11bafba136ab
      Response-App-Time:
      - '669'
      Response-Db-Time:
      - '626'
      Response-Routing-Time:
      - '676'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

      <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

              xmlns:xdb          ="http://xmlns.oracle.com/xdb"

              xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

              xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd">
        <Deposits>

          <Deposit>

            <Id idDomain="QB">8404</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-03-12T19:27:24.0Z</CreateTime>

              <LastModifiedBy>app</LastModifiedBy>

              <LastUpdatedTime>2012-03-12T19:27:32.0Z</LastUpdatedTime>

            </MetaData>

            <ExternalKey idDomain="QB">8404</ExternalKey>

            <Synchronized>true</Synchronized>

            <Header>

              <TxnDate>2012-02-03</TxnDate>

              <Msg>Deposit</Msg>

              <DepositToAccountId idDomain="QB">82</DepositToAccountId>

              <DepositToAccountName>TD Bank Bus. Conv. Checking</DepositToAccountName>

              <TotalAmt>-130.65</TotalAmt>

            </Header>

            <Line>

              <Id idDomain="QB">8406</Id>

              <TxnId idDomain="QB">8209</TxnId>

              <TxnType>ARRefundCreditCard</TxnType>

              <AccountId idDomain="QB">81</AccountId>

              <AccountName>Undeposited Funds</AccountName>

              <AccountType>Asset</AccountType>

              <EntityId idDomain="QB">205</EntityId>

              <EntityName>Virtualis Bookkeeping</EntityName>

              <EntityType>Customer</EntityType>

              <PaymentMethodId idDomain="QB">11</PaymentMethodId>

              <PaymentMethodName>Braintree</PaymentMethodName>

              <Amount>-130.65</Amount>

              <CheckNum>1</CheckNum>

            </Line>

          </Deposit>

          <Deposit>

            <Id idDomain="QB">8393</Id>

            <SyncToken>1</SyncToken>

            <MetaData>

              <CreatedBy>app</CreatedBy>

              <CreateTime>2012-03-12T19:13:10.0Z</CreateTime>

              <LastModifiedBy>app</LastModifiedBy>

              <LastUpdatedTime>2012-03-12T19:24:33.0Z</LastUpdatedTime>

            </MetaData>

            <ExternalKey idDomain="QB">8393</ExternalKey>

     [...]
