---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/billpayment/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<BillPaymentQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</BillPaymentQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="MmCamXnpeLTkNcN2qotbtsyUtbKcAAug93hX7XSiEw",
        oauth_signature="yL7eHdTmxYr4Hv3gGvYmIEVUIPI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345561807", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - ee0f31b4-1f66-4d0d-bf79-6951d646bb5a
      Response-App-Time:
      - '637'
      Response-Db-Time:
      - '594'
      Response-Routing-Time:
      - '641'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><BillPayments>

        <BillPayment>

        <Id idDomain="QB">7675</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2012-03-12T16:13:26.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2012-03-12T16:14:10.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">7675</ExternalKey>

        <Synchronized>true</Synchronized>

        <Header>

        <TxnDate>2012-03-13</TxnDate>

        <Note>39653-000</Note>

        <Status>Paid</Status>

        <EntityId idDomain="QB">14</EntityId>

        <EntityName>Wilson Sonsini Goodrich Rosati</EntityName>

        <EntityType>Vendor</EntityType>

        <APAccountId idDomain="QB">44</APAccountId>

        <APAccountName>Accounts Payable</APAccountName>

        <BankAccountId idDomain="QB">82</BankAccountId>

        <BankAccountName>TD Bank Bus. Conv. Checking</BankAccountName>

        <PayeeAddr>

        <Id idDomain="QB">00000000000000xR</Id>

        <City>San Francisco</City>

        <CountrySubDivisionCode>CA</CountrySubDivisionCode>

        <PostalCode>94160-3672</PostalCode>

        <Default>1</Default>

        <Tag>Billing</Tag>

        </PayeeAddr>

        <TotalAmt>43.5</TotalAmt>

        </Header>

        <Line>

        <Id idDomain="QB">7675</Id>

        <Desc>39653-000</Desc>

        <Amount>43.5</Amount>

        <TxnId idDomain="QB">7664</TxnId>

        <TxnNum>1631</TxnNum>

        </Line>

        </BillPayment>

        <BillPayment>

        <Id idDomain="QB">7670</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2012-03-12T16:13:26.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2012-03-12T16:14:10.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">7670</ExternalKey>

        <Synchronized>true</Synchronized>

     [...]
