---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/invoice/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<InvoiceQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2009-01-01</StartTransactionDate>\n</InvoiceQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="EMozIND8vbPkj1umPV0jPrqZRxzsu5N8DRmyA6v8TvU",
        oauth_signature="BxvKzHMUg%2BDS%2BPEB7c5TwOrnqr0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345649407", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Linequerytime:
      - '33'
      Contextinittime:
      - '13'
      Response-Id:
      - b4719ae6-9f53-414e-9d2f-65dfcd847814
      Assemblingtime:
      - '0'
      Headerquerytime:
      - '387'
      Headerdaotime:
      - '387'
      Linedaotime:
      - '33'
      Response-App-Time:
      - '581'
      Response-Routing-Time:
      - '588'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><RestResponse
        xmlns="http://www.intuit.com/sb/cdm/v2"><Invoices><Invoice><Id idDomain="QB">2870</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2011-04-08T14:43:54.477Z</CreateTime><LastUpdatedTime>2011-05-07T23:52:53.343Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">2870</ExternalKey><Synchronized>true</Synchronized><Header><DocNumber>14</DocNumber><TxnDate>2011-03-17T00:00:00Z</TxnDate><Note>VOID:</Note><Status>Paid</Status><CustomerId
        idDomain="QB">141</CustomerId><CustomerName>Julia Pimsleur</CustomerName><RemitToId
        idDomain="QB">141</RemitToId><RemitToName>Julia Pimsleur</RemitToName><ClassId
        idDomain="QB">8</ClassId><ClassName>Direct</ClassName><ShipDate>2011-03-17T00:00:00Z</ShipDate><SubTotalAmt>0</SubTotalAmt><TaxRate>0</TaxRate><TaxAmt>0</TaxAmt><TotalAmt>0</TotalAmt><ToBePrinted>false</ToBePrinted><ToBeEmailed>false</ToBeEmailed><ARAccountId
        idDomain="QB">46</ARAccountId><ARAccountName>Accounts Receivable</ARAccountName><DueDate>2011-03-17T00:00:00Z</DueDate><BillAddr><Id
        idDomain="QB">0000000000000284</Id><Default>true</Default><Tag>Billing</Tag></BillAddr><ShipAddr><Id
        idDomain="QB">00000000000002LR</Id><Default>false</Default><Tag>Shipping</Tag></ShipAddr><BillEmail>julia@littlepim.com</BillEmail><Balance>0</Balance></Header><Line><Id
        idDomain="QB">2872</Id><Amount>0</Amount><ClassId idDomain="QB">8</ClassId><ClassName>Direct</ClassName><Taxable>false</Taxable><ItemId
        idDomain="QB">9</ItemId><ItemName>Profitably Basic Monthly</ItemName><ItemType>Service</ItemType><UnitPrice>49.99</UnitPrice><Qty>0</Qty><SalesTaxCodeId
        idDomain="QB">2</SalesTaxCodeId><SalesTaxCodeName>Non</SalesTaxCodeName></Line></Invoice><Invoice><Id
        idDomain="QB">2867</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2011-04-08T14:43:41.176Z</CreateTime><LastUpdatedTime>2011-05-07T23:59:51.171Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">2867</ExternalKey><Synchronized>true</Synchronized><Header><DocNumber>13</DocNumber><TxnDate>2011-03-17T00:00:00Z</TxnDate><Note>VOID:</Note><Status>Paid</Status><CustomerId
        idDomain="QB">142</CustomerId><CustomerName>Sar[...]
