---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/journalentry/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<JournalEntryQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</JournalEntryQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="j3YikQcZjInAw1e7NyLXOg0CtNODbttwrRXgziYukw",
        oauth_signature="qi3bbmLnJs%2FdvXpjAVRHanZu%2FXc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345650090", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - e3a7b73c-a612-4e1f-b8b3-e94dbde9d00c
      Response-App-Time:
      - '297'
      Response-Db-Time:
      - '260'
      Response-Routing-Time:
      - '302'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><JournalEntries>

        <JournalEntry>

        <Id idDomain="QB">4022</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2011-06-06T17:48:56.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2011-06-06T17:48:56.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">4022</ExternalKey>

        <Synchronized>true</Synchronized>

        <Header>

        <TxnDate>2013-01-01</TxnDate>

        <Note>to expense web hosting</Note>

        <Adjustment>true</Adjustment>

        </Header>

        <Line>

        <Id idDomain="QB">4023</Id>

        <Desc>to expense web hosting</Desc>

        <Amount>70.79</Amount>

        <PostingType>Debit</PostingType>

        <AccountId idDomain="QB">76</AccountId>

        <AccountName>Hosting</AccountName>

        <AccountType>Expense</AccountType>

        </Line>

        <Line>

        <Id idDomain="QB">4024</Id>

        <Desc>to expense web hosting</Desc>

        <Amount>70.79</Amount>

        <PostingType>Credit</PostingType>

        <AccountId idDomain="QB">79</AccountId>

        <AccountName>Prepaid expenses</AccountName>

        <AccountType>Asset</AccountType>

        </Line>

        </JournalEntry>

        <JournalEntry>

        <Id idDomain="QB">4019</Id>

        <SyncToken>1</SyncToken>

      [...]
