---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/item/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<ItemQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n</ItemQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="rIfkAVv2zLK5SuW5XLB9iVdTBUhQaRj2VZ4h1RQCTd0",
        oauth_signature="2FzA9J2YpVsFI8m%2Bs0TWxGQvyBw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345474736", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - c0cbcc1f-fdc1-483b-8172-4907ba558d37
      Response-App-Time:
      - '105'
      Response-Db-Time:
      - '66'
      Response-Routing-Time:
      - '111'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

                xmlns:xdb          ="http://xmlns.oracle.com/xdb"

                xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

                xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd">
          <Items>

            <Item>

              <Id idDomain="QB">16</Id>

              <SyncToken>1</SyncToken>

              <MetaData>

                <CreatedBy>app</CreatedBy>

                <CreateTime>2012-01-27T01:04:28.0Z</CreateTime>

                <LastModifiedBy>app</LastModifiedBy>

                <LastUpdatedTime>2012-01-27T01:04:28.0Z</LastUpdatedTime>

              </MetaData>

              <ExternalKey idDomain="QB">16</ExternalKey>

              <Synchronized>true</Synchronized>

              <Name>Monitor (expensed)</Name>

              <Desc>Just a monitor</Desc>

              <Taxable>true</Taxable>

              <Active>true</Active>

              <UnitPrice>

                <CurrencyCode>USD</CurrencyCode>

                <Amount>0</Amount>

              </UnitPrice>
              
              <IncomeAccountRef>

                <AccountId idDomain="QB">9</AccountId>

                <AccountName>Subscription Income</AccountName>

                <AccountType>Revenue</AccountType>

              </IncomeAccountRef>

              <Type>Product</Type>

              <PurchaseCost>

                <CurrencyCode>USD</CurrencyCode>

                <Amount>0</Amount>

              </PurchaseCost>

              <ExpenseAccountRef>

                <AccountId idDomain="QB">64</AccountId>

                <AccountName>Office</AccountName>

                <AccountType>Expense</AccountType>

              </ExpenseAccountRef>

            </Item>

            <Item>

              <Id idDomain="QB">12</Id>

              <SyncToken>1</SyncToken>

              <MetaData>

                <CreatedBy>app</CreatedBy>

                <CreateTime>2011-02-05T19:25:57.0Z</CreateTime>

                <LastModifiedBy>app</LastModi[...]
