---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/billpaymentcreditcard/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<BillPaymentCreditCardQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2009-01-01</StartTransactionDate>\n</BillPaymentCreditCardQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="JkGGpjI1zQKnxulsGLDB8h2id9KRSeFgwNQPW8KzMs",
        oauth_signature="0gQcYnZr3ATNKW8Jp1MqyoWECvQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345627797", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 2b1621cd-00f0-491d-b425-140ec1cc79ea
      Response-App-Time:
      - '131'
      Response-Db-Time:
      - '86'
      Response-Routing-Time:
      - '136'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><BillPaymentCreditCards>

        </BillPaymentCreditCards></RestResponse>'
  recorded_at: Wed, 22 Aug 2012 09:29:59 GMT
recorded_with: VCR 2.2.4
