---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/creditmemo/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<CreditMemoQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</CreditMemoQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="bUZwqKTPEuSLiQzFPcWbBo5ViiZhEcrFvEsXNsWsY",
        oauth_signature="0yTax1rf47odSvzmCX6JcQbi4fU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345647033", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 38a78dfa-44d8-4ca4-9dff-2f4231a2a0b2
      Response-App-Time:
      - '600'
      Response-Db-Time:
      - '538'
      Response-Routing-Time:
      - '605'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><CreditMemos>

        <CreditMemo>

        <Id idDomain="QB">8204</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2012-03-12T17:55:58.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2012-03-12T17:56:45.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">8204</ExternalKey>

        <Synchronized>true</Synchronized>

        <Header>

        <DocNumber>18</DocNumber>

        <TxnDate>2012-01-31</TxnDate>

        <Status>Paid</Status>

        <CustomerId idDomain="QB">205</CustomerId>

        <CustomerName>Virtualis Bookkeeping</CustomerName>

        <RemitToId idDomain="QB">205</RemitToId>

        <RemitToName>Virtualis Bookkeeping</RemitToName>

        <SalesTaxCodeId idDomain="QB">1</SalesTaxCodeId>

        <SalesTaxCodeName>Tax</SalesTaxCodeName>

        <ShipDate>2012-01-31</ShipDate>

        <SubTotalAmt>120</SubTotalAmt>

        <TaxId idDomain="QB">15</TaxId>

        <TaxName>NYC Sales Tax</TaxName>

        <TaxRate>8.875</TaxRate>

        <TaxAmt>10.65</TaxAmt>

        <TotalAmt>130.65</TotalAmt>

        <ToBePrinted>true</ToBePrinted>

        <ToBeEmailed>false</ToBeEmailed>

        <ARAccountId idDomain="QB">46</ARAccountId>

        <ARAccountName>Accounts Receivable</ARAccountName>

        <DueDate>2012-01-31</DueDate>

        <BillAddr>

        <Id idDomain="QB">00000000000002qQ</Id>

        <Default>1</Default>

        <Tag>Billing</Tag>

        </BillAddr>

        <ShipAddr>

        <Id idDomain="QB">00000000000005yD</Id>

        <Default>0</Default>

        <Tag>Shipping</Tag>

        </ShipAddr>

        <RemainingCredit>0</RemainingCredit>

        </Header>

        <Line>

        <Id idDomain="QB">8206</Id>

        <Amount>149.97</Amount>

        <Taxable>true</Taxable>

        <ItemId idDomain="QB">9</ItemId>

        <ItemName>Profitably Basic Monthly</ItemName>

        <ItemType>Service</ItemType>

        <UnitPrice>49.99</UnitPrice>

        <Qty>3</Qty>

        <SalesTaxCodeId idDomain="QB">1</SalesTaxCodeId>

        <SalesTaxCodeName>Tax</SalesTaxCodeName>

        </Line>

        <Line>

        <Id idDomain="QB">8207</Id>

        <Amount>-29.97</Amount>

        <Taxable>true</Taxable>

        <DiscountId idDomain="QB">13</DiscountId>

        <DiscountName>Discount</DiscountName>

        <SalesTaxCodeId idDomain="QB">1</SalesTaxCodeId>

        <SalesTaxCodeName>Tax</SalesTaxCodeName>

        </Line>

        <TaxLine>

        <Id idDomain="QB">8208</Id>

        <Amount>-10.65</Amount>

        <TaxId idDomain="QB">15</TaxId>

        <TaxName>NYC Sales Tax</TaxName>

        </TaxLine>

        </CreditMemo>

        </CreditMemos></RestResponse>'
  recorded_at: Wed, 22 Aug 2012 14:50:36 GMT
recorded_with: VCR 2.2.4
