---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/payment/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<PaymentQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2000-01-01</StartTransactionDate>\n</PaymentQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="yJcSbgkM1GjpyiEAdp1JDrRZV7rnenIUOzBb8LRrx60",
        oauth_signature="kA1HMLdQrc2sq3lk5MbFDrUTM8E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345709386", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - ef0bb66d-3a3c-4329-94c8-79cac149eedb
      Response-App-Time:
      - '637'
      Response-Db-Time:
      - '602'
      Response-Routing-Time:
      - '641'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Payments>



        <Payment>

        <Id idDomain="QB">3160</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2011-04-08T15:43:58.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2011-04-08T15:43:58.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">3160</ExternalKey>

        <Synchronized>true</Synchronized>

        <Header>

        <DocNumber>12</DocNumber>

        <TxnDate>2011-04-06</TxnDate>

        <Status>Paid</Status>

        <CustomerId idDomain="QB">144</CustomerId>

        <CustomerName>Shep Sepaniak</CustomerName>

        <RemitToId idDomain="QB">144</RemitToId>

        <RemitToName>Shep Sepaniak</RemitToName>

        <ARAccountId idDomain="QB">46</ARAccountId>

        <ARAccountName>Accounts Receivable</ARAccountName>

        <DepositToAccountId idDomain="QB">81</DepositToAccountId>

        <DepositToAccountName>Undeposited Funds</DepositToAccountName>

        <TotalAmt>49.99</TotalAmt>

        </Header>

        <Line>

        <Amount>49.99</Amount>

        <TxnId idDomain="QB">2864</TxnId>

        <TxnNum>633</TxnNum>

        </Line>

        </Payment>

        <Payment>

        <Id idDomain="QB">3137</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreateTime>2011-04-08T15:42:08.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastUpdatedTime>2011-09-11T16:32:39.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">3137</ExternalKey>

        <Synchronized>true</Synchronized>

        <Heade[...]
