---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/timeactivity/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<TimeActivityQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2001-01-01</StartTransactionDate>\n</TimeActivityQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="MwJ0mAtX2ezoYsj5c3P2CNC0lYScpfUhv3Z4CVwempI",
        oauth_signature="dbYNOTz6nhIj1iDHr6tPfE6KZpQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345712085", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 8cb7421b-bfc2-48a3-ab76-1169d37839fb
      Response-App-Time:
      - '193'
      Response-Db-Time:
      - '155'
      Response-Routing-Time:
      - '198'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><TimeActivities>

        </TimeActivities></RestResponse>'
  recorded_at: Thu, 23 Aug 2012 08:54:47 GMT
recorded_with: VCR 2.2.4
