---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/creditcardcharge/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<CreditCardChargeQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n  <StartTransactionDate>2012-01-01</StartTransactionDate>\n</CreditCardChargeQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="GfGfTEqiCHl03SaigEdWlnH7zXQ6I0eBROpQGzs4",
        oauth_signature="Jld39UuCCGQ%2BZWtD6R39HAnQak8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345633773", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Linequerytime:
      - '431'
      Contextinittime:
      - '667'
      Response-Id:
      - a2035dc6-5758-4d04-be54-4e5e3df728ba
      Assemblingtime:
      - '0'
      Headerquerytime:
      - '286'
      Headerdaotime:
      - '286'
      Linedaotime:
      - '431'
      Response-App-Time:
      - '1938'
      Response-Routing-Time:
      - '1950'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><RestResponse
        xmlns="http://www.intuit.com/sb/cdm/v2"><CreditCardCharges><CreditCardCharge><Id
        idDomain="QB">8134</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-12T17:18:04Z</CreateTime><LastUpdatedTime>2012-03-12T18:52:12Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8134</ExternalKey><Synchronized>true</Synchronized><Header><TxnDate>2012-01-16T00:00:00Z</TxnDate><Status>Payable</Status><CCAccountId
        idDomain="QB">83</CCAccountId><CCAccountName>TD Bank Credit Card #0951</CCAccountName><EntityId
        idDomain="QB">304</EntityId><EntityName>BuyDomains</EntityName><EntityType>Vendor</EntityType><TotalAmt>2934.83</TotalAmt></Header><Line><Id
        idDomain="QB">8136</Id><Amount>2934.83</Amount><AccountId idDomain="QB">78</AccountId><AccountName>Domains
        and Internet Property</AccountName><AccountType>Asset</AccountType></Line></CreditCardCharge><CreditCardCharge><Id
        idDomain="QB">8131</Id><SyncToken>1</SyncToken><MetaData><CreateTime>2012-03-12T17:17:39Z</CreateTime><LastUpdatedTime>2012-03-12T18:52:12Z</LastUpdatedTime></MetaData><ExternalKey
        idDomain="QB">8131</ExternalKey><Synchronized>true</Synchronized><Header><TxnDate>2012-01-25T00:00:00Z</TxnDate><Status>Payable</Status><CCAccountId
        idDomain="QB">83</CCAccountId><CCAccountName>TD Bank Credit Card #0951</CCAccou[...]
