---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/advancedreport/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<AdvancedReportQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <BalanceSheetStd>\n  <EndTransactionDate>2012-05-31</EndTransactionDate>\n  </BalanceSheetStd>\n</AdvancedReportQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="jb6M4cc7GZdUBYleY2RitMrMqzDXQD8IUoyiRVMJH8",
        oauth_signature="R5Hqb%2FRWqTe56qwT4CpFRvy4b8s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345203734", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - e33a893a-21f2-47f9-aef9-f1fec1f67be0
      Response-App-Time:
      - '119'
      Response-Db-Time:
      - '88'
      Response-Routing-Time:
      - '124'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 RestDataFilter.xsd">

        <Report name="BalanceSheetStd">

        <ColDesc><ColTitle>AccountType</ColTitle><ColType>ids_String</ColType></ColDesc>

        <ColDesc><ColTitle>AccountId</ColTitle><ColType>ids_IdType</ColType></ColDesc>

        <ColDesc><ColTitle>AccountNumber</ColTitle><ColType>ids_String</ColType></ColDesc>

        <ColDesc><ColTitle>AccountName</ColTitle><ColType>ids_String</ColType></ColDesc>

        <ColDesc><ColTitle>AccountSublevel</ColTitle><ColType>ids_Number</ColType></ColDesc>

        <ColDesc><ColTitle>Amount</ColTitle><ColType>ids_Amount</ColType></ColDesc>

        <Data>

        <DataRow>

        <ColData>Checking/Savings</ColData>

        <ColData idDomain="QB">5</ColData>

        <ColData>10100</ColData>

        <ColData>HSBC</ColData>

        <ColData>0</ColData>

        <ColData>0</ColData>

        </DataRow>

        <DataRow>

        <ColData>Checking/Savings</ColData>

        <ColData idDomain="QB">82</ColData>

        <ColData>10200</ColData>

        <ColData>TD Bank Bus. Conv. Checking</ColData>

        <ColData>0</ColData>

        <ColData>26227.42</ColData>

        </DataR[...]
[...]
- request:
    method: post
    uri: https://services.intuit.com/sb/profitandloss/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<ReportProfitAndLoss xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n
        \ <StartTransactionDate>2012-06-01</StartTransactionDate>\n  <EndTransactionDate>2012-06-30</EndTransactionDate>\n</ReportProfitAndLoss>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="gUBooijH10ItKjFFSefCR0pb3GjzURdOliTAItUdRs",
        oauth_signature="QVw2vhA6bxtYmPqkSn8TLOEV0yc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345203739", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
 [...]
[...]
