---
http_interactions:
- request:
    method: post
    uri: https://services.intuit.com/sb/account/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<AccountQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n  <StartPage>1</StartPage>\n  <ChunkSize>500</ChunkSize>\n</AccountQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="68rEVQVUwRpCeLQJkdXgByNQLQNXYOrAuKuut9yhh0",
        oauth_signature="EN8C1DdVgyftDjQH75u9EMAy94g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345131560", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 204d016c-34e6-4666-b153-e77afada6d3b
      Response-App-Time:
      - '161'
      Response-Db-Time:
      - '120'
      Response-Routing-Time:
      - '170'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 ../common/RestDataFilter.xsd"><Accounts>

        <Account>

        <Id idDomain="QB">140</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2012-01-27T01:34:14.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2012-01-27T01:34:14.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">140</ExternalKey>

        <Synchronized>true</Synchronized>

        <Name>Reimbursements payable</Name>

        <Active>true</Active>

        <Type>Liability</Type>

        <Subtype>Other Current Liability</Subtype>

        <AcctNum>20100</AcctNum>

        <CurrentBalance>950</CurrentBalance>

        </Account>

        <Account>

        <Id idDomain="QB">139</Id>

        <SyncToken>1</SyncToken>

        <MetaData>

        <CreatedBy>app</CreatedBy>

        <CreatedById>1</CreatedById>

        <CreateTime>2012-01-26T23:54:59.0Z</CreateTime>

        <LastModifiedBy>app</LastModifiedBy>

        <LastModifiedById>1</LastModifiedById>

        <LastUpdatedTime>2012-01-26T23:54:59.0Z</LastUpdatedTime>

        </MetaData>

        <ExternalKey idDomain="QB">1[...]
- request:
    method: post
    uri: https://services.intuit.com/sb/advancedreport/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<AdvancedReportQuery xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n
        \ <BalanceSheetStd>\n    <EndTransactionDate>2012-05-31</EndTransactionDate>\n
        \ </BalanceSheetStd>\n</AdvancedReportQuery>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="WTHRolp9sUycuF6qS1OXKUrUjK64PZhNxvStOvnA0gE",
        oauth_signature="aYu7UDhxMBZm%2BRec%2F21kq7jDOBE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345131562", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Response-Id:
      - 8d9e965d-8ce5-4dee-94ec-241498c3aff8
      Response-App-Time:
      - '100'
      Response-Db-Time:
      - '61'
      Response-Routing-Time:
      - '104'
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><!--XML GENERATED by IntuitDataSyncEngine
        (IDS) using \\SBDomainServices\CDM\branches\3.9.0-rel-1-->

        <RestResponse xmlns="http://www.intuit.com/sb/cdm/v2"

        xmlns:xdb          ="http://xmlns.oracle.com/xdb"

        xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation ="http://www.intuit.com/sb/cdm/v2 RestDataFilter.xsd">

        <Report name="BalanceSheetStd">

        <ColDesc><ColTitle>AccountType</ColTitle><ColType>ids_String</ColType></ColDesc>

        <ColDesc><ColTitle>AccountId</ColTitle><ColType>ids_IdType</ColType></ColDesc>

        <ColDesc><ColTitle>AccountNumber</ColTitle><ColType>ids_String</ColType></ColDesc>

        <ColDesc><ColTitle>AccountName</ColTitle><ColType>ids_String</ColType></ColDesc>

        <ColDesc><ColTitle>AccountSublevel</ColTitle><ColType>ids_Number</ColType></ColDesc>

        <ColDesc><ColTitle>Amount</ColTitle><ColType>ids_Amount</ColType></ColDesc>

        <Data>

        <DataRow>

        <ColData>Checking/Savings</ColData>

        <ColData idDomain="QB">5</ColData>

        <ColData>10100</ColData>

        <ColData>HSBC</ColData>

        <ColData>0</ColData>

        <ColData>0</ColData>

        </DataRow>

        <DataRow>

        <ColData>Checking/Savings</ColData>

        <ColData idDomain="QB">82</ColData>

        <ColData>10200</ColData>

        <ColData>TD Bank Bus. Conv. Checking</ColData>

        <ColData>0</ColData>

        <ColData>26227.42</ColData>

        </DataR[...]
[...]
- request:
    method: post
    uri: https://services.intuit.com/sb/profitandloss/v2/174322770
    body:
      encoding: US-ASCII
      string: ! "<ReportProfitAndLoss xmlns=\"http://www.intuit.com/sb/cdm/v2\">\n
        \ <StartTransactionDate>2012-06-01</StartTransactionDate>\n  <EndTransactionDate>2012-06-30</EndTransactionDate>\n</ReportProfitAndLoss>\n"
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprdtGdCxGSaII5DLGvNL2S4nO3wf", oauth_nonce="08rkgJLA0PeFoEU5b532XLWlOpkC8gzbn7zJV2Uz5uk",
        oauth_signature="Bbi7Od1CwRIH0P%2FR7eMF0sK3LHI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1345131566", oauth_token="qyprdccBfAsG24NCvLzv88kkkXtWccNPxQPn7ygRGZz4Yv14",
        oauth_version="1.0[...]
[...]
