
<br />
<div class="row">
  <div class="span16">
<div class="row">
  <div class="span5">
    <form class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <input class="input-large" type="text" placeholder="Edit box">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="input-large disabled" type="text" placeholder="Edit box" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="with-shadow input-large" type="text" placeholder="Edit box with shadow">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="rounded input-large" type="text" placeholder="Edit box with round borders">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="search-form">
            <input type="text" class="input-large" placeholder="Search box">
            <i class="icon-small-search icon-grey"></i>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="alt-field input-large" type="text" placeholder="Alternative input">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="prepend-icon">
            <i class="icon-small-user-icon icon-grey"></i>
            <input type="text" class="input-large" placeholder="Prepend icon">
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls error">
          <input type="text" class="input-large" placeholder="Error">
          <span class="msg">Error</span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls success">
          <input type="text" class="input-large" placeholder="Success">
          <span class="msg">Success</span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls pending">
          <input type="text" class="input-large" placeholder="Pending">
          <span class="msg">Pending</span>
        </div>
      </div>
    </form>
  </div>

  <div class="span2">
    <ul class="switch">
      <li><i class="icon-small-check-mark2 icon-white"></i><!-- --></li>
      <li class="active"><i class="icon-small-cross-small icon-white"></i><!-- --></li>
      <li><!-- --></li>
      <li class="active"><!-- --></li>
    </ul> <!-- /.switch -->
  </div>

  <div class="span5">
    <h1 style="margin: 0 0 10px 0">BUY</h1>
    <div class="popup">
      <ul class="links-block">
        <li class="active">
          Personal
          <span>$25</span>
        </li>
        <li>
          Developers
          <span>$250</span>
        </li>        
      </ul>
    </div> <!-- /.popup -->
  </div>

  <div class="span4">
    <div class="btn-icon">
      <i class="icon-large-dashboard icon-grey"><!-- --></i>
    </div>
    <div class="btn-icon">
      <i class="icon-large-computer icon-grey"><!-- --></i>
    </div>
    <div class="btn-icon">
      <i class="icon-large-console icon-grey"><!-- --></i>
    </div>
    <div class="btn-icon">
      <i class="icon-large-calc icon-grey"><!-- --></i>
    </div>
    <br />
    <div class="btn-icon">
      <i class="icon-small-dashboard icon-grey"><!-- --></i>
    </div>
    <div class="btn-icon">
      <i class="icon-small-computer icon-grey"><!-- --></i>
    </div>
    <div class="btn-icon">
      <i class="icon-small-console icon-grey"><!-- --></i>
    </div>
    <div class="btn-icon">
      <i class="icon-small-calc icon-grey"><!-- --></i>
    </div>
    <br />
    <div class="counter-icon">
        <span>25</span>
        <i class="icon-large-mail icon-grey"><!-- --></i>
    </div>
    <div class="counter-icon blue">
        <span>5</span>
        <i class="icon-large-mail icon-grey"><!-- --></i>
    </div>
    <div class="counter-icon green">
        <span>138</span>
        <i class="icon-large-mail icon-grey"><!-- --></i>
    </div>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="span3">
    <ul class="dropdown-list">
      <li><a href="#"><i class="icon-small-arrow-circle-left icon-grey"></i> Popular</a></li>
      <li><a href="#"><i class="icon-small-arrow-circle-left icon-grey"></i> Following</a></li>
      <li><a href="#"><i class="icon-small-arrow-circle-left icon-grey"></i> Likes</a></li>
    </ul>
  </div>

  <div class="span4">
    <div class="counter-block">
      <span class="value">250</span>
      <span class="title">Friends</span>
    </div>

    <div class="counter-block">
      <span class="value">14</span>
      <span class="title">Likes</span>
    </div>

    <div class="counter-block">
      <span class="value">430</span>
      <span class="title">Views</span>
    </div>
  </div>

  <div class="span4">
    <div class="info-block">
      <div class="btn-icon">
        <i class="icon-large-mail icon-grey"><!-- --></i>
      </div>
      <div class="value">
        <h3>1,050</h3>
        <h4>MAILS EVERYDAY</h4>
      </div>
    </div> <!-- /.info-block -->

    <div class="info-block">
      <div class="btn-icon">
        <i class="icon-large-users icon-grey"><!-- --></i>
      </div>
      <div class="value">
        <h3>2,050</h3>
        <h4>REGISTRATIONS</h4>
      </div>
    </div> <!-- /.info-block -->    
  </div>

  <div class="span5">
    <div class="message-block">
      <span class="ribbon red">NEW</span>
      <h4>Metallica &ndash; Enter Sandman</h4>
      <p>Laos, alongside many of its Southeast Asian neighbours, is well known.</p>
    </div>
  </div>
</div>

<br />
<br />

<div class="row" >
  <div class="span4">
    <button class="btn rounded">Download</button>
    <button class="btn">Send</button>
    <button class="btn danger">Cancel</button>
    <br />
    <br />
    <button class="btn btn-primary">Download</button>
    <br />
    <br />
    <button class="btn btn-primary"><i class="icon-small-download icon-white"></i> Download</button>
  </div>

  <div class="span5">
    <div class="images-slider">
      <a href="#" class="btn-prev"><!-- --></a>
      <a href="#" class="btn-next"><!-- --></a>
      <ul class="images">
        <li><img src="/assets/sampleImage.jpg" width="" height="" alt="" /></li>
        <li><img src="/assets/sampleImage.jpg" width="" height="" alt="" /></li>
      </ul>
    </div> <!-- /.images-slider -->
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="span8">
    <div class="widget-block">
      <img src="/assets/placeholder_widget.png" width="" height="" alt="" />
    </div>
  </div>

    <div class="span8">
    <div class="widget-block well textured">
      <img src="/assets/placeholder_widget.png" width="" height="" alt="" />
    </div>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="span6">
    <div class="comment">
      <p> 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <div class="span4">
    <button class="btn circle-btn"><i class="icon-small-users icon-grey"><!-- --></i></button> 
    <button class="btn circle-btn"><i class="icon-small-calendar icon-grey"><!-- --></i></button>
    <button class="btn danger circle-btn"><i class="icon-small-trash icon-white"><!-- --></i></button>
    <br />
    <br />
    <button class="btn large-circle-btn"><i class="icon-large-users icon-grey"><!-- --></i></button> 
    <button class="btn large-circle-btn"><i class="icon-large-calendar icon-grey"><!-- --></i></button>
    <button class="btn danger large-circle-btn"><i class="icon-large-trash icon-white"><!-- --></i></button>    
  </div>

  <div class="span4">
    <ul class="pagination-block">
      <li class="prev"><a href=""><i class="icon-small-arrow-left icon-grey"><!-- --></i></a></li>
      <li class="active"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li class="next"><a href=""><i class="icon-small-arrow-right icon-grey"><!-- --></i></a></li>
    </ul> <!-- /.pagination -->
    <br />
    <ul class="alt-pagination-block">
      <li class="prev"><a href=""><i class="icon-small-arrow-left icon-grey"><!-- --></i></a></li>
      <li class="active"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li class="next"><a href=""><i class="icon-small-arrow-right icon-grey"><!-- --></i></a></li>
    </ul> <!-- /.alt-pagination -->    
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="span5">
    <ul class="ui-vertical-slider" style="margin-left: 20px;">
      <li>
        <div class="ui-slider-handler" style="bottom: 80%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 80%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 70%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 70%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 60%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 60%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 35%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 35%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 45%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 45%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 55%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 55%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 75%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 75%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 60%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 60%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 60%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 60%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-handler" style="bottom: 80%"><!-- --></div>
        <div class="ui-slider-fill" style="height: 80%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>       
    </ul> <!-- /.ui-vertical-slider -->
  </div>

  <div class="span2">
    <ul class="ui-scrollbar">
      <li>
        <div class="ui-slider-handler" style="bottom: 80%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>        
      </li>
    </ul>
  </div>
  <div class="span4">
    <ul class="ui-horizontal-slider">
      <li>
        <div class="ui-slider-title"><strong>2800</strong> <em>of</em> <strong>3100</strong></div>
        <div class="ui-slider-handler" style="left: 80%"><!-- --></div>
        <div class="ui-slider-fill" style="width: 80%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
    </ul> <!-- /.ui-horizontal-slider -->

    <br />

    <ul class="ui-horizontal-slider alt-handler">
      <li>
        <div class="ui-slider-title"><strong>1500</strong> <em>of</em> <strong>3100</strong></div>
        <div class="ui-slider-handler" style="left: 45%"><!-- --></div>
        <div class="ui-slider-fill" style="width: 45%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
      <li>
        <div class="ui-slider-title"><em>from</em> <strong>1500</strong> <em>to</em> <strong>3100</strong></div>
        <div class="ui-slider-handler" style="left: 60%"><!-- --></div>
        <div class="ui-slider-handler" style="left: 20%"><!-- --></div>
        <!-- width = 1st hander left pos - 2nd handler left pos (60%-20%); margin-left = 2nd handler left pos (20%) -->
        <div class="ui-slider-fill" style="width: 40%; margin-left: 20%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </li>
    </ul>  <!-- /.ui-horizontal-slider -->
  </div>

  <div class="span4">
    <form class="form-horizontal">
      <div class="control-group">
        <label for="some_field_checkbox" class="checkbox">
          Air checkbox
          <input type="checkbox" name="some_field_checkbox" value="1" />
        </label>
      </div>
      
      <div class="control-group">
        <!-- you don't need to add 'checked' class it will be handled by JS -->
        <label for="some_field_checkbox_2" class="checkbox checked">
          Air checkbox (checked)
          <input type="checkbox" name="some_field_checkbox_2" value="1" checked="checked" />
        </label>
      </div>

      <br />

      <div class="control-group">
        <div class="controls">
          <span class="radio"></span><label class="label">Air radio button</label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <span class="radio checked"></span><label class="label">Air radio button (checked)</label>
        </div>
      </div>

      <br />

      <div class="control-group">
        <div class="controls">
          <span class="blank-button"></span><label class="label">Air blank button</label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <span class="blank-button checked"></span><label class="label">Air blank button (checked)</label>
        </div>
      </div>        
    </form>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="span5">
    <div class="notification-window">
      <h2>Notification window</h2>
      <div class="window-action"><i class="icon-small-cross icon-grey"><!-- --></i></div>
      <div class="window-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div> <!-- /.notification-window -->
  </div>

  <div class="span5">
    <div class="stats-block">
      <header>
        <span class="title">USA</span>
        <span class="value">
          75,4%
          <aside class="up">+23%</aside>
        </span>
      </header>
      <div class="stats-block-slider">
        <div class="ui-slider-fill" style="width: 75%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </div>
    </div> <!-- /.stats-block -->

    <div class="stats-block">
      <header>
        <span class="title">New Zealand</span>
        <span class="value">
          45,7%
          <aside class="down">-12%</aside>
        </span>
      </header>
      <div class="stats-block-slider">
        <div class="ui-slider-fill" style="width: 45%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </div>
    </div> <!-- /.stats-block -->

    <div class="stats-block">
      <header>
        <span class="title">Australia</span>
        <span class="value">
          64%
          <aside class="up">+16%</aside>
        </span>
      </header>
      <div class="stats-block-slider">
        <div class="ui-slider-fill" style="width: 64%"><!-- --></div>
        <div class="ui-slider-track"><!-- --></div>
      </div>
    </div> <!-- /.stats-block -->    
  </div>

  <div class="span6">
    <div class="notification-window">
      <h2>Notification window</h2>
      <div class="window-action"><i class="icon-small-cross icon-grey"><!-- --></i></div>
      <div class="window-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="notification-controls">
          <button class="btn pull-left">Send</button>
          <button class="btn danger pull-right">Cancel</button>
      </div>
    </div> <!-- /.notification-window -->
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="span16">
    <div class="mac-comp-block">
      <div class="mac-wrapper">
        <div class="mac-comp">
            <img src="/assets/mac_comp.png" width="" height="" alt="" />
        </div>
        <div class="imac-img">
          <img src="/assets/placeholder_imac.jpg" width="" height="" alt="" />
        </div>
        <div class="ipad-img">
          <img src="/assets/placeholder_ipad.jpg" width="" height="" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />

<div class="row">
  <div class="span4 offset2">
    <div class="info-section">
      <header>
        <h2>Books</h2>
      </header>
      <div class="info-icon">
        <i class="icon-huge-book2 icon-grey"><!-- --></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="info-control">
        <a href="#" class="btn">More <i class="icon-small-arrow-right icon-grey"><!-- --></i></a>
      </div>
    </div> <!-- /.info-section -->
  </div>

  <div class="span4">
    <div class="info-section light-bg">
      <header>
        <h2>Documents</h2>
      </header>
      <div class="info-icon">
        <i class="icon-huge-docs icon-grey"><!-- --></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="info-control">
        <a href="#" class="btn btn-action">More <i class="icon-small-arrow-right icon-white"><!-- --></i></a>
      </div>
    </div> <!-- /.info-section -->
  </div>

  <div class="span4">
    <div class="info-section">
      <header>
        <h2>Work</h2>
      </header>
      <div class="info-icon">
        <i class="icon-huge-bag icon-grey"><!-- --></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="info-control">
        <a href="#" class="btn">More <i class="icon-small-arrow-right icon-grey"><!-- --></i></a>
      </div>
    </div> <!-- /.info-section -->
  </div>    
</div>

<br />
<br />

<div class="row">
  <div class="span5 offset1">
    <div class="text-block">
      <h2>Our Newsletter</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <form class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <input type="text" placeholder="Your email">
            <button class="btn" type="submit">subscribe</button>
          </div>
        </div>
      </form>
    </div> <!-- /.text-block -->
  </div>

  <div class="offset1 span4">
    <div class="text-block">
      <h2>Articles</h2>
      <ul class="articles-list">
        <li>
          <div class="article-icon">
            <i class="icon-large-doc icon-grey"><!-- --></i>
          </div>
          <a href="#">
            <strong>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</strong>
            <small>Posted Tuesday, April 24, 2012 17:07:46</small>
          </a>
        </li>

        <li>
          <div class="article-icon">
            <i class="icon-large-user icon-grey"><!-- --></i>
          </div>
          <a href="#">
            <strong>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</strong>
            <small>Posted Tuesday, April 22, 2012 11:24:21</small>
          </a>
        </li>

        <li>
          <div class="article-icon">
            <i class="icon-large-pin icon-grey"><!-- --></i>
          </div>
          <a href="#">
            <strong>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong>
            <small>Posted Tuesday, April 21, 2012 06:12:57</small>
          </a>
        </li>
      </ul> 
    </div> <!-- /.text-block -->
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="offset2 span4">
    <div class="subscribe-plan">
      <header>
        <h1>Light</h1>
        <h2>Great for small business</h2>
      </header>

      <div class="price">
        <div class="ribbon">Join</div>
        <span class="value">
          <small>$</small>25
        </span>
        <span class="time-period">monthly</span>
      </div>

      <ul class="plan-items">
        <li><i class="icon-small-clock icon-grey"><!-- --></i> 24/7 Tech Support</li>
        <li><i class="icon-small-shopping-bag icon-grey"><!-- --></i> Advanced Options</li>
        <li><i class="icon-small-star icon-grey"><!-- --></i> 100GB Storage</li>
        <li><i class="icon-small-heart icon-grey"><!-- --></i> 1GB Bandwidth</li>
      </ul>

      <p class="plan-footer">
        Known locally as "SoMa", this neighborhood was home to the dot.com boom and boasts.
      </p>  

    </div> <!-- /.subscribe-plan -->
  </div>

  <div class="span4">
    <div class="subscribe-plan">
      <header>
        <h1>Run</h1>
        <h2>Great for small business</h2>
      </header>

      <div class="price">
        <div class="ribbon red">Join</div>
        <span class="value">
          <small>$</small>36<small>99</small>
        </span>
        <span class="time-period">monthly</span>
      </div>

      <ul class="plan-items">
        <li><i class="icon-small-clock icon-grey"><!-- --></i> 24/7 Tech Support</li>
        <li><i class="icon-small-shopping-bag icon-grey"><!-- --></i> Advanced Options</li>
        <li><i class="icon-small-star icon-grey"><!-- --></i> 100GB Storage</li>
        <li><i class="icon-small-heart icon-grey"><!-- --></i> 1GB Bandwidth</li>
      </ul>

      <p class="plan-footer">
        Known locally as "SoMa", this neighborhood was home to the dot.com boom and boasts.
      </p>

    </div> <!-- /.subscribe-plan -->
  </div>

  <div class="span4">
    <div class="subscribe-plan">
      <header>
        <h1>Fly</h1>
        <h2>Great for small business</h2>
      </header>

      <div class="price">
        <div class="ribbon green">Join</div>
        <span class="value">
          <small>$</small>95<small>99</small>
        </span>
        <span class="time-period">monthly</span>
      </div>

      <ul class="plan-items">
        <li><i class="icon-small-clock icon-grey"><!-- --></i> 24/7 Tech Support</li>
        <li><i class="icon-small-shopping-bag icon-grey"><!-- --></i> Advanced Options</li>
        <li><i class="icon-small-star icon-grey"><!-- --></i> 100GB Storage</li>
        <li><i class="icon-small-heart icon-grey"><!-- --></i> 1GB Bandwidth</li>
      </ul>

      <p class="plan-footer">
        Known locally as "SoMa", this neighborhood was home to the dot.com boom and boasts.
      </p>

    </div> <!-- /.subscribe-plan -->
  </div>  
</div>
</div>
</div>

<br />
<br />