<div class="foot" id="footer">
  <footer>
    <div class="container">
      <div class="row show-grid">
         <div class="span3">
           <dl>
             <dt><a href="www.activecell.com/about.html">About Activecell</a></dt>
                <dd><a href="www.activecell.com/index.html#features">Features</a></dd>
                <dd><a href="www.activecell.com/index.html#pricing">Pricing</a></dd>
                <dd><a href="www.activecell.com/experts.html">Experts</a></dd>
                <dd><a href="www.activecell.com/blog.html">The Activecell Method</a></dd>
                <dd><a href="www.activecell.com/advisors.html">For advisors</a></dd>
                <dd><a href="www.activecell.com/privacy.html">Privacy policy</a></dd>
          </dl>
        </div>
        <div class="span3">
          <dl>
            <dt><a href="http://support.activecell.com">Support &amp; feedback</a></dt>
              <dd><a href="http://support.activecell.com/knowledgebase">Knowledge base</a></dd>
              <dd><a href="http://support.activecell.com/forums/110485-product-feedback">Product feedback</a></dd>
              <dd><a href="http://support.activecell.com">Contact support</a></dd>
          </dl>
        </div>
        <div class="span6 copyright">
          Brought to you by Profitably, Inc.  © 2012. All rights reserved.
        </div>
      </div>
    </div>
  </footer>
</div>
